﻿@model UMS_MVC.DataModel.Models.AccountExt.AccountExtPublication

@{
    ViewBag.Title = "Create";
}

<div class="panel-heading">

    <h3 style="color: darkcyan">
        <i class="fa fa-cogs"></i> Edit Account Ext Publication
    </h3>
</div>
<div class="panel-body">
    @using (Ajax.BeginForm("ExtPublicationPartialSubmit", "AccountMaster", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "confirmForExtPub"
}))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(s => s.AccountMetaProfessionalId)
        @Html.HiddenFor(s => s.AccountExtPublicationId)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <table class="table table-hover borderless">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Type, (SelectList)TempData["publicationType"], new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new {@class = "text-danger"})
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.DateOfPublication, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                   @Html.TextBoxFor(m => m.DateOfPublication, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DateOfPublication, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ReferenceLink, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.ReferenceLink, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReferenceLink, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                    @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EntryBy, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                    @Html.ValidationMessageFor(model => model.EntryBy, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="panel-footer">
                <td></td>
                <td>
                    <button type="submit" value="Save" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                </td>
                <td>
                    @if (Model.AccountExtPublicationId != 0)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Ajax.ActionLink("Delete", "DeleteMst", new {id = Model.AccountExtPublicationId, optType = 5}, new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "confirmForExtPub",
                                    InsertionMode = InsertionMode.Replace
                                })

                            </div>
                        </div>

                    }
                </td>
                <td>
                    <label style="color: darkcyan" id="confirmForExtPub"></label>
                </td>
                <td></td>
            </tr>
        </table>
    }
</div>