﻿@model UMS_MVC.DataModel.Models.AccountExt.AccountExtEducation

@{
    ViewBag.Title = "Create";
}

<div class="panel-heading">

    <h3 style="color: darkcyan">
        <i class="fa fa-book"></i> Edit Account Extended Education
    </h3>
</div>
<div class="panel-body">
    @using (Ajax.BeginForm("ExtEducationPartialSubmit", "AccountMaster", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "confirmForExtEdu"
}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(s => s.AccountMetaProfessionalId)
        @Html.HiddenFor(s => s.AccountExtEducationId)
        <table class="table table-hover borderless">
            <tr>
                <td>
                    @Html.LabelFor(model => model.NameOfExamination, htmlAttributes: new { @class = "control-label" })
                </td>
                <td>
                    @Html.EditorFor(model => model.NameOfExamination, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NameOfExamination, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.StartingSession, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.StartingSession, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StartingSession, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.UniversityBoard, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.UniversityBoard, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UniversityBoard, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.PassingYear, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.PassingYear, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PassingYear, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Result, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.Result, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Result, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.SubjectStudied, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.SubjectStudied, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SubjectStudied, "", new { @class = "text-danger" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EntryDate, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.EntryDate, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                    @Html.ValidationMessageFor(model => model.EntryDate, "", new { @class = "text-danger" })
                </td>
                <td></td>
                <td>
                    @Html.LabelFor(model => model.EntryBy, htmlAttributes: new { @class = "control-label " })
                </td>
                <td>
                    @Html.EditorFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly" } })
                    @Html.ValidationMessageFor(model => model.EntryBy, "", new { @class = "text-danger", @readOnly = "readOnly" })
                </td>
            </tr>
            <tr class="panel-footer">
                <td></td>
                <td>
                    <button type="submit" value="Save" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                </td>
                <td>
                    @if (Model.AccountExtEducationId != 0)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @Ajax.ActionLink("Delete", "DeleteMst", new {id = Model.AccountExtEducationId, optType = 6}, new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    UpdateTargetId = "confirmForExtEdu",
                                    InsertionMode = InsertionMode.Replace
                                })
                            </div>
                        </div>
                    }
                </td>
                <td><label style="color: darkcyan" id="confirmForExtEdu"></label></td>
                <td></td>
            </tr>
        </table>
    }

</div>
