﻿@{
    ViewBag.Title = "AccountMasterController ";
    Layout = Session["LayoutMgr"].ToString();
}

<div >

    <p style="font-size: 25px;color: darkcyan"><i class="fa fa-user"></i> Account Master Control
    </p>
    <hr/>
    
    <div >
        <div class="row">
            <div class="col-md-6">
                <div id="accountIndex">

                </div>
            </div>
            <div class="col-md-6" id="accountDetails" style="border-left : 1px solid black">
                <h4><b>Details of Selected User's..</b></h4>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labellby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="panel panel-info" id="divForModal">

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">
        $(window).load(function() {
            $('#accountIndex').load('@Url.Action("AccountIndexPartial", "AccountMaster")');
        });

        function showDetails(aid) {
            $('#accountDetails').load('@Url.Action("AccountDetailsPartial", "AccountMaster")', { id: aid });
        };

        function addAccount() {
            $('#divForModal').load('@Url.Action("Create", "Accounts2")', { type: 2 });
            $(window).load(function() {
                $('#accountIndex').load('@Url.Action("AccountIndexPartial", "AccountMaster")');
            });

        }

        function editMetaInfo(aid, metaId) {
            $('#divForModal').load('@Url.Action("AccountMetaInfoPartial", "AccountMaster")', { id: aid, metaId: metaId });
        }

        function editMetaProf(aid, metaId) {
            $('#divForModal').load('@Url.Action("AccountMetaProfessionalPartial", "AccountMaster")', { id: aid, metaId: metaId });
        }

        function editExtProf(metaProfId, extProfId) {
            $('#divForModal').load('@Url.Action("ExtProfessionalPartial", "AccountMaster")', { id: metaProfId, extProfId: extProfId });
        }

        function editExtEdu(metaProfId, extEduId) {
            $('#divForModal').load('@Url.Action("ExtEducationPartial", "AccountMaster")', { id: metaProfId, extEduId: extEduId });
        }

        function editExtProj(metaProfId, extProjId) {
            $('#divForModal').load('@Url.Action("ExtProjectPartial", "AccountMaster")', { id: metaProfId, extProjId: extProjId });
        }

        function editExtPub(metaProfId, extPubId) {
            $('#divForModal').load('@Url.Action("ExtPublicationPartial", "AccountMaster")', { id: metaProfId, extPubId: extPubId });
        }

        function refreshIndex() {
            $.ajax({
                    type: 'GET',
                    url: '..//AccountMaster/Index',
                    success: function() {
                        window.location.reload(true);
                    }
                }
            );
        }
    </script>
}

<style>
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}
</style>