﻿@model List<UMS_MVC.DataModel.Models.Essential_Types.Teacher>

<table class="table table-condensed" style="font-size: 10px">
    <tr>
        <th></th>
        <th>
           Department Name
        </th>
        <th>
          Name
        </th>
        <th>
           LoginId
        </th>
        <th></th>
    </tr>
    @{
        var x = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>@x </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginId)
            </td>
            <td>
                
                <button type="button" data-toggle="modal" data-target="#teacherControlModal" class="btn btn-warning btn-sm" onclick="loadTeacherModal('@item.TeacherId')"><span class="glyphicon glyphicon-wrench"></span></button> |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
            </td>
        </tr>
        x++;
    }

</table>