﻿@model UMS_MVC.DataModel.Models.Essential_Types.Account

@{
    ViewBag.Title = "Create";

    var layoutCtrl = (bool)TempData["layoutCtrl"];
    if (layoutCtrl)
    {
        Layout = Session["LayoutMgr"].ToString();
    }

}


<div class="panel-heading">
    <h3 style="color: darkcyan">
        <i class="fa fa-plus-square"></i> Create Account 
    </h3>
</div>
<div class="panel-body">
    <div >
        <div class="well" style=" border-color: darkcyan;color: darkcyan">
            <p>USER ID:<label>@ViewBag.userId</label> &nbsp;&nbsp; PASSWORD :<label>@ViewBag.password</label> </p>
           </div>
        @using (Ajax.BeginForm("CreateConfirm", "Accounts2", new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            UpdateTargetId = "msg",
            OnSuccess = "refreshIndex()"
        }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.ValidationSummary(true)
            <div>
                <table class="table table-hover">
                    <tr>
                        <td>@Html.LabelFor(model => model.Name, new {@class = "control-label "})</td>
                        <td>
                            @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.Email, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Email)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PhoneNo, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.PhoneNo, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.PhoneNo)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.TeleExchange, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.TeleExchange, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.TeleExchange)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Designation, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.Designation, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Designation)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.DepartmentSection, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.DepartmentSection, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.DepartmentSection)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.LoginIdentity, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.LoginIdentity, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.LoginIdentity)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.Password, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Password)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.AccountsRole, new {@class = "control-label"})</td>
                        <td>
                            @Html.DropDownList("AccountsRoleId", (SelectList) ViewBag.AccountsRoleId, new {@class = "form-control"})
                            @Html.ValidationMessageFor(model => model.AccountsRoleId)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.Pic, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.Pic, new {htmlAttributes = new {@class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Pic)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.PartimeTeacher, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.PartimeTeacher)
                            @Html.ValidationMessageFor(model => model.PartimeTeacher)
                        </td>
                        <td></td>
                        <td>@Html.LabelFor(model => model.ExpireDate, new {@class = "control-label"})</td>
                        <td>
                            @Html.TextBoxFor(m => m.ExpireDate, "{0:yyyy-MM-dd}", new {@type = "date", @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.ExpireDate)
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Status, new {@class = "control-label"})</td>
                        <td>
                            @Html.EditorFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status)
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Create" class="btn btn-success"/></td>
                        <td></td>
                        <td>
                            <div><label style="color: darkcyan" id="msg"></label>
                            </div></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>

        }
    </div>
   
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
