﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@{
    Layout = Session["LayoutMgr"].ToString();
    var user = (Account)Session["UserObj"];
    ViewBag.Title = "Picture Upload";
}
<div align="center">
    
    <div class="well">
        <h3>Change Profile Picture</h3>
        <h5 style="color: seagreen">Upload your passport size picture only.</h5>
        <hr />
        @{
            using (Html.BeginForm("UploadPictureOfUser", "Accounts2", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div>
                    <div>
                        @if (user.Pic == null)
                        {
                            <input type="image" src="~/Image/nopic.jpg" class="img-rounded" style="height: 180px;width: 140px" />
                        }
                        else
                        {
                            <input type="image" src="~/Image/AccountPic/@user.Pic" class="img-rounded" style="height: 180px;width: 150px" />
                        }
                    </div>
                    <br />
                    <div class="form-inline">
                        <input type="file" name="file" id="file" class="btn btn-default  form-group" />
                        <input type="submit" value="Upload" class="btn btn-Custom3 form-group" />
                    </div>

                </div>
            }
        }
        <br />
        <div style="width: 450px">
            @if (TempData["msgsucc"] != null)
            {
                <div class="alert alert-success">
                    <a class="close" data-dismiss="alert">×</a><strong>@TempData["msgsucc"].ToString()</strong>
                </div>
            }
            @if (TempData["msgfailed"] != null)
            {
                <div class="alert alert-danger ">
                    <a class="close" data-dismiss="alert">×</a><strong>@TempData["msgfailed"].ToString()</strong>
                </div>
            }
        </div>
    </div>
</div>
<br />
<br />
<h3><b style="color: red">*</b>Note</h3>
<h5><a class="glyphicon glyphicon-circle-arrow-right"></a> Official photo only,no group or family photo.</h5>
<h5><a class="glyphicon glyphicon-circle-arrow-right"></a>  Your uploaded picture might not be shown instantly,Please login again to see result.</h5>