﻿@model UMS_MVC.DataModel.Models.Essential_Types.RebateCategory

@{
    ViewBag.Title = "Edit";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>RebateCategory</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RebateCategoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.RebateName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RebateName)
                @Html.ValidationMessageFor(model => model.RebateName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RebateDetails, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RebateDetails)
                @Html.ValidationMessageFor(model => model.RebateDetails)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RebatePercent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RebatePercent)
                @Html.ValidationMessageFor(model => model.RebatePercent)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
