﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic>

<div class="panel panel-default" style="border-top: aquamarine solid">
    <div class="panel-heading">
        <h4 style="color: lightseagreen"><b><u>Courses Taken</u></b></h4>
        <div class="form-inline" align="right">
            <label class="form-group">Total credits taken : @ViewBag.TotalCreditTaken &nbsp;&nbsp;</label>
            <div class="form-group">
                @{
                    if (Model.Any())
                    {
                        <input type="submit" value="Confirm" class="btn btn-info" onclick="location.href='@Url.Action("RegistrationPaymentPrint", "Payments", new {studentId = Model.FirstOrDefault().StudentIdentification.StudentId})';return false;" />
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-body" style="font-size: 11px">
        @{
            int x = 1;
            if (Model.Any())
            {
                <table class="table table-condensed " width="100">
                    <tr>
                        <th></th>
                        <th>Course Code</th>
                        <th>Course Name</th>
                        <th>Credit </th>
                        <th> Status</th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @x
                            </td>
                            <td>
                                @item.CourseForDepartment.CourseCode
                            </td>
                            <td>
                                @item.CourseForDepartment.CourseName
                            </td>

                            <td>
                                @item.CourseForDepartment.Credit
                            </td>
                            <td>
                                <b>@item.CourseStatus.ShortName</b>
                            </td>
                            <td>
                                @{
                                    <button class="btn btn-danger btn-sm" onclick="SomeDeleteRowFunction(this)">
                                        @Ajax.ActionLink("Remove", "RemoveCourseFromAdvising2", new { courseId = item.CourseForStudentsAcademicId },
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "POST",
                                            UpdateTargetId = "CalculateVal",
                                            InsertionMode = InsertionMode.Replace,
                                            LoadingElementId = "loadanimation2",
                                            OnComplete = "loadAdvisedCourses()"
                                        }, new { style = "color: white" })
                                    </button>
                                }
                                @*<input type="submit" value="Remove" class="btn btn-danger btn-sm" onclick="location.href= '@Url.Action("RemoveCoursesFromStudent", new { courseCode = item.CourseForDepartmentId, studentId = @Model.First().StudentIdentification.StudentId })';return false;" />*@
                            </td>
                        </tr>
                        x++;
                    }

                </table>
            }
            else
            {
                <h4>This Student has not taken any courses.</h4>
            }
        }

    </div>
</div>