﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic>


<div class="panel panel-default" style="border-top: aquamarine solid">
    <div class="panel-heading">
        <h4 style="color: lightseagreen"><b><u>Courses Taken</u></b></h4>
        <div class="form-inline" align="right">
            <label class="form-group">Total credits Taken : @ViewBag.TakenCredits &nbsp;&nbsp;</label>
            <div class="form-group">
                @{
                    if (Model.Any())
                    {
                        <input type="submit" value="Confirm" class="btn btn-info " onclick="location.href= '@Url.Action("RegistrationPaymentPrint","Payments", new {studentId = Model.FirstOrDefault().StudentIdentification.StudentId })';return false;" />
                    }
                }
            </div>
        </div>
    </div>
    <div class="panel panel-body" style="font-size: 12px">
        <table class="table table-condensed " width="100">
            <tr>
                <th width="10%">Course Code</th>
                <th width="30%">Course Name</th>
                <th width="10%">PreReq.</th>
                <th width="10%">Credit </th>
                <th width="10%"> Status</th>
                <th width="10%">Semester</th>
                <th width="7%"></th>
            </tr>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td width="10%">
                                @item.CourseForDepartment.CourseCode
                            </td>
                            <td width="30%">
                                @item.CourseForDepartment.CourseName
                            </td>
                            <td width="10%">
                                @item.CourseForDepartment.PrerequisiteCourse
                            </td>
                            <td width="10%">
                                @item.CourseForDepartment.Credit
                            </td>
                            <td width="10%">
                                <b>@item.CourseStatus.Status</b>
                            </td>
                            <td width="10%">@item.Semester.SemesterNYear</td>
                            <td width="7%">
                                <input type="submit" value="Remove" class="btn btn-danger btn-sm" onclick="location.href= '@Url.Action("RemoveCoursesFromStudent", new { studentId = item.StudentIdentification.StudentId, takenCourseId = item.CourseForStudentsAcademicId })';return false;" />
                            </td>
                        </tr>
                    }
                }
            }

        </table>
    </div>
    <div class="panel-footer">

    </div>
</div>