﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@model UMS_MVC.ViewModels.ViewModels.AdvisingPagesort
@{
    var courseInfo = ViewBag.courseInfo as CourseForDepartment;
    //var advisingsortObj = ViewBag.advisingSortObj as AdvisingPagesort;
    int noOfStudent = ViewBag.noOfStudent;
    var account = (Account)Session["UserObj"];
}
@{
    if (courseInfo != null)
    {
        <dl class="dl-horizontal">
            <dt>Program</dt>
            <dd class="fontstyleProposal">@courseInfo.Department.DepartmentName</dd>
            <dt>Course Name</dt>
            <dd class="fontstyleProposal">@courseInfo.CourseName</dd>
            <dt>Course Code</dt>
            <dd class="fontstyleProposal">@courseInfo.CourseCode</dd>
            <dt>Credit</dt>
            <dd class="fontstyleProposal">@courseInfo.Credit</dd>
            <dt>No of Students</dt>
            <dd class="fontstyleProposal">@noOfStudent</dd>
            
        </dl>
    }
}
<hr/>
<dl class="dl-horizontal">
    @using (Html.BeginForm("PrintSectionProposal", "DocumentPrint", FormMethod.Post, new {target = "_blank"}))
    {
        @Html.HiddenFor(s => s.SemesterId)
        @Html.HiddenFor(s => s.DepartmentId)
        @Html.HiddenFor(s => s.CourseId)
        @Html.HiddenFor(s => s.SecSort)
        <dt>Teacher</dt>
        <dd>@Html.DropDownList("TeacherId", (SelectList) ViewBag.teacherId, "No Teacher", new {@class = "form-control"})</dd>
        <dt></dt>
        <dd>
            <br />
        </dd>
        <dt>PDF</dt>
        <dd>
            @{
                if (noOfStudent != 0)
                {
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="submit" class="btn btn-Custom7" name="diretctDownload" value="0">Preview</button>
                        <button type="submit" class="btn btn-Custom7" name="diretctDownload" value="1"><span class="glyphicon glyphicon-arrow-down"></span> Download</button>
                        @if (account.AccountsRoleId == 1)
                        {
                            <button type="submit" class="btn btn-Custom7" name="diretctDownload" value="2"><span class="glyphicon glyphicon-arrow-down"></span>SES Print</button>
                        }
                    </div>
                }
                else
                {
                    <div class="btn-group" role="group" aria-label="...">
                        <input type="button" id="noStudentLbl" class="btn btn-Custom7" onclick="noStudentLblFunc()" value="Preview">
                        <input type="button" id="noStudentLbl2" class="btn btn-Custom7" onclick="noStudentLblFunc2()" value="Download">
                    </div>
                }
}                      
        </dd>
    }
</dl>

<style>
    .fontstyleProposal {
        font-size: 15px; 
        color: #008080;
        font-weight: bold;
    }
</style>
