﻿@using UMS_MVC.DataModel.Models
@using UMS_MVC.DataModel.Models.Essential_Types
@model IEnumerable<UMS_MVC.ViewModels.ViewModels.AdvisedStudent>
@{
    ViewBag.Title = "Advised Student Status";
    Layout = Session["LayoutMgr"].ToString();
    var semester = (Semester)ViewBag.SelectedSemester;
}
<h3>Advised Students Inquiry</h3>
<div class="well">
    <div class="input-group">
        @using (Html.BeginForm())
        {
            @Html.DropDownList("departmentId", (SelectList)ViewBag.departmentId, "--Choose Department--", new { @class = "form-control ", Style = "width: 220px;color: #005224" })
            @Html.DropDownList("semesterId", (SelectList)ViewBag.semesterId, "-Choose Semester-", new { @class = "form-control ", Style = "width: 220px;color: #005224" })
            @Html.DropDownList("batchNo", (SelectList)ViewBag.batchNo, "All Batch", new { @class = "form-control ", Style = "width: 220px;color: #005224" })
            @Html.DropDownList("genderId", (SelectList)ViewBag.genderId, "All", new { @class = "form-control ", Style = "width: 220px;color: #005224" })
            if (ViewBag.checkbox != null)
            {
                <label class="checkbox-inline" style="font-weight: bold">&nbsp;<input type="checkbox" checked="checked" name="dropStat" id="dropStatBox" value="true">Dropped List </label>
            }
            else
            {
                <label class="checkbox-inline" style="font-weight: bold">&nbsp;<input type="checkbox" name="dropStat" id="dropStatBox" value="true">Dropped List </label>
            }
            <input type="submit" class="hidden" />

        }

    </div>

    <div>
        @{
            if (ViewBag.totalStudentCount != null)
            {
                <h5>Advising completed in <strong style="color: #2e8b57">@ViewBag.sortingBasedOn</strong></h5>
                <div class="row">
                    <div class="col-md-4">
                        <label style="font-weight: bold;text-decoration: underline">Gender wise counter</label>
                        <dl class="dl-horizontal">
                            <dt>@ViewBag.totalMaleStudentCount</dt>
                            <dd>Male Student</dd>
                            <dt>@ViewBag.TotalFemaleStudentCount</dt>
                            <dd>Female Student</dd>
                            <dt>@ViewBag.totalStudentCount</dt>
                            <dd>Total Student</dd>
                        </dl>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"></div>
                </div>
            }
        }

    </div>
</div>
<label>@ViewBag.showingStudent</label>
<div class="row">
    <div class="col-md-6" style="height: 500px;overflow-y: auto">
        <table class="table table-condensed" style="font-weight: bold">
            <tr style="background: #2e8b57;color: white">
                <th></th>
                <th>Student ID</th>
                <th>Gen</th>
                <th>Name</th>
                <th>Credits</th>
                <th></th>
            </tr>
            @{
                int x = 1;
                foreach (var student in Model)
                {
                    <tr>
                        <td>@x.</td>
                        <td>@student.StudentId</td>
                        <td>@student.GenderName</td>
                        <td>@student.StudentName</td>
                        <td style="font-weight: bold">@student.TakenCredits</td>
                        <td><button class="btn btn-success btn-sm" onclick="loadAdvisedCourses('@student.StudentIdentificationId','@semester.SemesterId') "><span style="color: white" class="glyphicon glyphicon-search"></span></button></td>
                    </tr>
                    x++;
                }
            }
        </table>
    </div>
    <div class="col-md-6">
        <h4>Advised Courses</h4>
        <div id="advisedCourses">

        </div>
    </div>
</div>




@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $("#departmentId").change(function () {
            $("input[type=submit]").click();
        });
        $("#semesterId").change(function () {
            $("input[type=submit]").click();
        });
        $("#batchNo").change(function () {
            $("input[type=submit]").click();
        });
        $("#genderId").change(function () {
            $("input[type=submit]").click();
        });
        $('#dropStatBox').click(function () {
            $("input[type=submit]").click();
        });
        function loadAdvisedCourses(id, id2) {

            $('#advisedCourses').load('@Url.Action("_GetAdvisedPartial", "CourseForStudent")', { studentIdentityId: id, semesterId: id2 });
            $('#advisedCourses').hide('fast', function () {

            });
            $('#advisedCourses').toggle('fast', function () {

            });
        }


        @*function sortQuery(sortVal) {
            $('#advisedCourses').load('@Url.Action("DroppedStudent", "CourseForStudent")', {val:sortVal});
        }*@

    </script>

}