﻿@model UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic

@{
    ViewBag.Title = "Details";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Details</h2>

<div>
    <h4>CourseForStudentsAcademic</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseForDepartment.CourseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseForDepartment.CourseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseStatus.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseStatus.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.SemesterNYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.SemesterNYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentIdentification.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIdentification.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Midterm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Midterm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalTerm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalTerm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LetterGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LetterGrade)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CourseForStudentsAcademicId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
