﻿@model List<UMS_MVC.ViewModels.ViewModels.SectionEnrollmentViewModel>
@{
    ViewBag.Title = "EnrollToSections";
    Layout = Session["LayoutMgr"].ToString();
}
@{
    Session.Add("RediretToSectionEnrollment", Request.RawUrl);
    int selecsec =(int) ViewBag.selectedSection;
}
<div align="center"><h3 style="color: teal">Enroll To Sections</h3></div>
    <span class="glyphicon glyphicon-plus"></span> @Html.ActionLink("Create New Section", "CreateUpdate", "Section", null, new { @style = "color: teal;font-weight: bold" })
<hr/>
@*<h4 style="text-decoration: underline">Filter Student</h4>*@
<div >
    @using (Html.BeginForm("EnrollToSections", "StudentEnrollmentToSection", FormMethod.Get))
    {
        <table>
            <tr>
                <td>
                    <div class="col-md-4">
                        <label>Semester</label>
                        @Html.DropDownList("semesterId", (SelectList)ViewBag.semesterId, "", new { @class = "form-control ", Style = "width: 140px" })
                    </div>
                </td>
                <td>
                    <div class="col-md-3">
                        <label>Department </label>
                        @Html.DropDownList("departmentId", (SelectList)ViewBag.DepartmentId,"", new { @class = "form-control ", Style = "width: 200px" })
                    </div>
                </td>
                <td>
                    <div class="col-md-3">
                        <label>Courses </label>

                        @Html.DropDownList("CourseForDepartmentId", (SelectList)ViewBag.CourseForDepartmentId, "", new { @class = "form-control ", Style = "width: 200px" })
                    </div>
                </td>
                <td>
                    <div class="col-md-2">
                        <label>Sections</label>@Html.DropDownList("SectionId", (SelectList)ViewBag.SectionId, "", new { @class = "form-control ", Style = "width: 200px" })
                    </div>
                </td>
                <td>
                    <div><label></label><input type="submit" value="Show" id="submit1" class="btn btn-info hide" /></div>
                </td>
            </tr>
        </table>
    }
    <br />
</div>


<div class="row">
    <div class="panel panel-default" style="height: 650px;overflow-y: auto">
        <div class="panel panel-heading">
            <table>
                <tr>
                    <td><h4>Student Enrollment to Section</h4><a>&nbsp;</a></td>
                </tr>
                <tr>
                    <td><label style="font-size: 14px" class="label label-info"> @ViewBag.studentCount</label>&nbsp;&nbsp;Students have taken <b style="color: green">@ViewBag.selectedCourse</b></td>
                </tr>
            </table>
        </div>
        <div class="panel panel-body">
            <div class="col-md-5">
                @using (Html.BeginForm("EnrollTosectionConfirm", "StudentEnrollmentToSection"))
                {
                    <label>Unassigned Students &nbsp;:&nbsp;</label>
                    <label style="font-size: 14px" class="label label-warning">@ViewBag.TotalUnassignedStudents</label>
                    <hr/>
                    <label>&nbsp;Unassigned List</label>
                    if (ViewBag.SectionName != null)
                    {
                        <button type="submit" class="btn btn-success btn-sm pull-right">Add to @ViewBag.SectionName</button>
                    }
                    <table class="table table-striped" style="font-weight: bold">
                        <tr></tr>
                        <tr style="background: #2e8b57;color: white">
                            <th width="7%">#</th>
                            <th width="20%">Student ID</th>
                            <th width="10%">Adv Stat</th>
                            <th width="5%"><input type="checkbox" class="form-control" id="ckbCheckAll" /></th>
                        </tr>
                        @{
                            if (Model != null)
                            {
                                int x = 1;
                                foreach (var item in Model.Where(s => s.SectionId == null))
                                {
                                    <tr>
                                        <td width="7%">@x</td>
                                        <td width="20%">@item.StudentId</td>
                                        <td>@item.StatusName</td>
                                        <td style="font-size: 15px" width="5%">Mark @Html.CheckBox("Member" + item.CourseForStudentId,new {@class="checkBoxClass"})</td>
                                    </tr>
                                    x++;
                                }
                            }
                        }
                    </table>
                }
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                @using (Html.BeginForm("EnrollSectionRemove", "StudentEnrollmentToSection"))
                {
                    
                    if (ViewBag.SectionName != null && ViewBag.TotalAssigned > 0)
                    {
                        <p>Assigned Teacher : <label style="color: green">@ViewBag.AssignedTeacherName</label></p>
                        <label>Total Students &nbsp;:&nbsp;</label><label style="font-size: 14px" class="label label-success">@ViewBag.TotalAssigned</label>
                     <button class="btn btn-Custom2 btn-sm " onclick="location.href='@Url.Action("PrintStudentBySection", "DocumentPrint", new { id = ViewBag.SelectedSectionID })';return false;">
                            <span class="glyphicon glyphicon-print"></span> Pdf
                        </button>
                        <button class="btn btn-Custom3 btn-sm " onclick="location.href='@Url.Action("GenerateSectionsXcelReport", "DocumentPrint", new { id = ViewBag.SelectedSectionID })';return false;">
                            <span class="glyphicon glyphicon-print"></span> Excel
                        </button>
                        <hr/>
                    
                    <label>&nbsp;Assigned List</label>
                       
                        <button type="submit" class="btn btn-danger btn-sm pull-right">Remove from @ViewBag.SectionName</button>
                    }
                   <table class="table table-striped table-condensed" style="font-weight: bold">
                            <tr style="background: #2e8b57;color: white">
                                <th width="7%">#</th>
                                <th width="20%">Student ID</th>
                                <th width="10%">Adv Stat</th>
                                <th width="5%"></th>
                            </tr>
                            @{
                                if (Model != null && ViewBag.SectionName != null)
                                {
                                    int y = 1;
                                    foreach (var item in Model.Where(s => s.SectionId == selecsec))
                                    {
                                        <tr>
                                            <td width="7%">@y</td>
                                            <td width="20%">@item.StudentId</td>
                                            <td>@item.StatusName</td>
                                            <td style="font-size: 15px" width="5%">Mark @Html.CheckBox("Member" + item.CourseForStudentId)</td>
                                        </tr>
                                        y++;
                                    }
                                }
                            }
                        </table>
                   }
            </div>

        </div>
    </div>

</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#semesterId").change(function () {

            $("input[type=submit]").click();

        });
        $("#departmentId").change(function () {

            $("input[type=submit]").click();

        });
        $("#CourseForDepartmentId").change(function () {

            $("input[type=submit]").click();

        });
        $("#SectionId").change(function () {

            $("input[type=submit]").click();

        });

        $(document).ready(function () {
            $("#ckbCheckAll").click(function () {
                $(".checkBoxClass").prop('checked', $(this).prop('checked'));
            });
        });
    </script>
}

