﻿@model IEnumerable<UMS_MVC.DataModel.Models.Essential_Types.PaymentDue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSystemSupport.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.semester.SemesterNYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totaldue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.semester.SemesterNYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Totaldue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.paymentdueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.paymentdueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.paymentdueID })
        </td>
    </tr>
}

</table>
