﻿@model UMS_MVC.DataModel.Models.Essential_Types.InternalMessage

<div align="center">

    <dl class="dl-horizontal">
        <dt>To :</dt>
        <dd>@Model.ReceiverAccount.Name</dd>
        <dt>Subject :</dt>
        <dd>@Model.MessageSubject</dd>
        <dt>Message :</dt>
        <dd>@Model.MessageBody</dd>
    </dl>
</div>
