﻿@model UMS_MVC.DataModel.Models.Essential_Types.UnfairStudents

@{
    ViewBag.Title = "Details";
   // Layout = "~/Views/Shared/_LayoutSystemSupport.cshtml";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Details</h2>

<div>
    <h4>UnfairStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unfairdetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unfairdetails)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentUnfairId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
