﻿@model List<UMS_MVC.DataModel.Models.Essential_Types.Semester>

@{
    ViewBag.Title = "Index";
    Layout = Session["LayoutMgr"].ToString();
}

<h3 style="color: deepskyblue">Semesters</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SemesterNYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActiveSemester)
        </th>
        <th>@Html.DisplayNameFor(model => model.MidTerm)</th>
        <th>@Html.DisplayNameFor(model => model.FinalTerm)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterNYear)
        </td>
        <td>@Html.DisplayFor(modelItem => item.ActiveSemester)</td>
        <td>@Html.DisplayFor(modelItem => item.MidTerm)</td>
        <td>@Html.DisplayFor(modelItem => item.FinalTerm)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SemesterId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SemesterId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SemesterId })
        </td>
    </tr>
}

</table>
