﻿@model IEnumerable<UMS_MVC.ViewModels.ViewModels.DepartmentStatus>
<div align="left">
    <h4 style="font-weight: bold;"><span style="font-size: 25px" class="glyphicon glyphicon-blackboard"></span> Data of <b style="color: teal">@ViewBag.batches</b> Batch</h4>
</div>
<div align="right">
    <button class="CustomBtn4Pr" onclick="window.open('@Url.Action("StatisticalDataPrint", "DocumentPrint", new { formBatch = ViewBag.formBatchId, toBatch = ViewBag.tobatchId })','Print Student List', menubar=0,resizable =1,width =250,height =350); return false;">
        <span class="glyphicon glyphicon-print"></span> Print
    </button>
</div>
<div class="table" >
    <table class="table table-bordered">
        <tr style="background-color: teal;color: white">
            <th style="font-weight: bold;font-size: 10px;">Department</th>
            <th style="font-weight: bold;font-size: 10px">Existing Female</th>
            <th style="font-weight: bold;font-size: 10px">Existing Male</th>
            <th style="font-weight: bold;font-size: 10px">Existing Total</th>
            <th style="font-weight: bold;font-size: 10px">Advised Female</th>
            <th style="font-weight: bold;font-size: 10px">Advised Male</th>
            <th style="font-weight: bold;font-size: 10px">Advised Total</th>
            <th style="font-weight: bold;font-size: 10px">Passed Female</th>
            <th style="font-weight: bold;font-size: 10px">Passed Male</th>
            <th style="font-weight: bold;font-size: 10px">Passed Total</th>
            <th style="font-weight: bold;font-size: 10px">Failed Female</th>
            <th style="font-weight: bold;font-size: 10px">Failed Male</th>
            <th style="font-weight: bold;font-size: 10px">Failed Total</th>
            <th style="font-weight: bold;font-size: 10px">Non Graded</th>
        </tr>
        @foreach (var item in Model)
        {

            <tr style="border: teal">
                <td style="font-weight: bold;font-size: 10px">@item.DepartmentName</td>
                <td style="font-weight: bold;font-size: 12px">@item.ExistingFemale</td>
                <td style="font-weight: bold;font-size: 12px">@item.ExistingMale</td>
                <td style="font-weight: bold;font-size: 12px;background-color: grey;color:white">@item.ExistingTotal</td>
                <td style="font-weight: bold;font-size: 12px">@item.AdvisedFemale</td>
                <td style="font-weight: bold;font-size: 12px">@item.AdvisedMale</td>
                <td style="font-weight: bold;font-size: 12px;background-color: grey;color:white">@item.AdvisedTotal</td>
                <td style="font-weight: bold;font-size: 12px">@item.PassedFemale</td>
                <td style="font-weight: bold;font-size: 12px">@item.PassedMale</td>
                <td style="font-weight: bold;font-size: 12px;background-color: grey;color:white">@item.PassedTotal</td>
                <td style="font-weight: bold;font-size: 12px">@item.FailedFemale</td>
                <td style="font-weight: bold;font-size: 12px">@item.FailedMale</td>
                <td style="font-weight: bold;font-size: 12px;background-color: grey;color:white">@item.FailedTotal</td>
                <td style="font-weight: bold;font-size: 12px">@item.NonGraded</td>
            </tr>
        }
    </table>
</div>

