﻿@{
    ViewBag.Title = "Statistical Calculated Data";
    Layout = Session["LayoutMgr"].ToString();
}

<div>
    <div class="breadcrumb" style="background-color: teal">
        <div align="right">
            <h2 style="color: white"><span style="font-size:70px" class="glyphicon glyphicon-stats "></span> Student's  Data of <small style="color: black">@ViewBag.sem</small></h2>
        </div>
    </div>
    <div class="pull-left">       
        <div>
            @if (ViewBag.msg != null)
            {
                <div class="alert alert-danger ">
                    <a class="close" data-dismiss="alert">x</a><strong>@ViewBag.msg</strong>
                </div>
            }
        </div>
    </div>
    <div align="left">
        <dl class="dl-horizontal">
            @{
                using (Ajax.BeginForm("GetAllStatictics", "CourseOtherMatter", new AjaxOptions
                {
                    UpdateTargetId = "statisticalDataLoad",
                    InsertionMode = InsertionMode.Replace,
                    LoadingElementId = "statisticsWorkingLoader"
                }))
                {
                    <dt>From Batch</dt>
                    <dd>@Html.DropDownList("fromBatchId", (SelectList)ViewBag.fromBatch, new {@class = "form-control"})</dd>
                    <dt>To Batch</dt>
                    <dd>@Html.DropDownList("toBatchId", (SelectList)ViewBag.toBatch, "-End Batch-", new { @class = "form-control" })</dd>
                    <dt></dt>
                    <dd><input type="submit" class="btn btn-default" value="Check" /> <label style="display: none" id="statisticsWorkingLoader">Generating..</label></dd>
                }
            }         
        </dl>
    </div>
</div>
<hr style="border-width: 2px;border-color: black" />
<br />
<div id="statisticalDataLoad">
    
</div>
@section scripts
{
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
<style>
    
.CustomBtn4Pr {
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        font-size: 15px;
        top: 0;
        right: 5px;
        bottom: 0;
        left: 0;
        padding: 10px 0;
        width: 220px;
        height: 30px;
        background: #008080;
        border: 1px solid #008080;
        color: #FFF;
        overflow: hidden;
        transition: all 0.5s;
    }

        .CustomBtn4Pr:hover, .CustomBtn4Pr:active {
            text-decoration: none;
            color: #008080;
            border-color: #008080;
            background: #FFF;
        }

        .CustomBtn4Pr span {
            display: inline-block;
            position: relative;
            padding-right: 0;
            transition: padding-right 0.5s;
        }

            .CustomBtn4Pr span:after {
                content: ' ';
                position: absolute;
                top: 0;
                right: -18px;
                opacity: 0;
                width: 10px;
                height: 10px;
                margin-top: -10px;
                background: rgba(0, 0, 0, 0);
                border: 3px solid #FFF;
                border-top: none;
                border-right: none;
                transition: opacity 0.5s, top 0.5s, right 0.5s;
                transform: rotate(-45deg);
            }

        .CustomBtn4Pr:hover span, .CustomBtn4Pr:active span {
            padding-right: 30px;
        }

            .CustomBtn4Pr:hover span:after, .CustomBtn4Pr:active span:after {
                transition: opacity 0.5s, top 0.5s, right 0.5s;
                opacity: 1;
                border-color: #008080;
                right: 0;
                top: 50%;
            }
</style>