﻿
<div id="accessLogCredit">
    @{
        if (ViewBag.power == false && ViewBag.msg != null)
        {
            <h3>@ViewBag.msg</h3>
        }
        if (ViewBag.power == false && ViewBag.msg == null)
        {
            <div class="well">
                @using (Ajax.BeginForm("AccessToSpecial", "Admin", new AjaxOptions
                {
                    UpdateTargetId = "accessibilityInform",
                    InsertionMode = InsertionMode.Replace,
                    OnSuccess = "hideAccessLog()"
                }))
                {
                    <label>Type Identity Code</label>
                    <input class="form-control" type="password" name="passId" />
                    <br />
                    <input class="btn btn-default" type="submit" value="Submit" />
                }
            </div>
        }
        else
        {
            <h4 style="color: green">You are already Logged In</h4>
            @Ajax.ActionLink("Sign Out", "DestroySpecial", new { }, new AjaxOptions()
        {
            HttpMethod = "GET",
            UpdateTargetId = "accessibilityInform",
            OnSuccess = "hideAccessLog()"
        })
        }
    }
</div>




<div align="center">
    <h4 id="accessibilityInform"></h4>
</div>

<script type="text/javascript">
    function hideAccessLog() {
        $('#accessLogCredit').hide();
    }
</script>
<!-- test git -->
<!-- test git -->