﻿
@{
    if (ViewBag.msg != null)
    {
        <h3 style="color: orangered">@ViewBag.msg</h3>
    }
    else
    {
        <h3>@ViewBag.PhramacyId Advising Update</h3>
        <hr />
        using (Ajax.BeginForm("UpdatePharmacyAdvisingsConfirm", "Admin", new AjaxOptions
        {
            UpdateTargetId = "AlterCompletedInform",
            LoadingElementId = "advisingWorkingLoader"
        }))
        {
            <dl class="dl-horizontal">
                <dt>Select Batch</dt>
                <dd>@Html.DropDownList("selectedBatchId", null, new {@class = "form-control"})</dd>
                <dt>Current Advised Semester</dt>
                <dd>@Html.DropDownList("advisedSemesterId", null, new {@class = "form-control"})</dd>
                <dt>Alter Advised Semester</dt>
                <dd>@Html.DropDownList("convertedSemesterId", null, new {@class = "form-control"})</dd>
                <dt></dt>
                <dd><input type="submit" class="btn btn-default" value="Change" /></dd>
                <dt></dt>
                <dd>
                    <label style="display: none" id="advisingWorkingLoader">Loading..</label>
                    <h4 style="color: darkgreen"><label id="AlterCompletedInform"></label> </h4>
                </dd>
            </dl>
        }
        <div class="well">

            <button class="btn btn-warning" onclick=" searchForAlernCounter() ">Search</button>&nbsp;
            <label id="searchForAlter"></label>
        </div>
    }
}





<script type="text/javascript">
    function searchForAlernCounter() {
        var batchId = $('#selectedBatchId :selected').val();
        var semesterId = $('#advisedSemesterId :selected').val();
        $.ajax({
            type: 'GET',
            url: '..//Admin/SearchForAlterCounter',
            data: { selectedBatchId: batchId, advisedSemesterId: semesterId },
            success: function (data) {
                $('#searchForAlter').html(data);
                //(document.getElementById("searchForAlter")).value = data;
            },
        });
    }
</script>