﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@model UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic

@{
    ViewBag.Title = "Course Management Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var studentObj = ViewBag.studentObj as StudentIdentification;
}
<div style="color: green" id="rData"></div>
<h3 style="color: darkcyan">Course Management Admin (Edit)</h3>
<div class="panel panel-default">
    <div class="panel panel-heading">
        <div class="row">
            
            <div class="col-md-7">
                <blockquote style="border-left-color:darkcyan">
                    <h4 style="color:darkcyan">Student Information</h4>
                    @{
                        if (studentObj != null)
                        {
                            <label>Student Name : <span class="label label-danger">@studentObj.StudentInfo.StudentName</span></label>
                            <br />
                            <label>Department : <span class="label label-danger"> @studentObj.Department.DepartmentName</span></label>
                        }
                    }
                </blockquote>
            </div>
            <div class="col-md-5">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-body">
                @using (Html.BeginForm("CourseManagementEdit", "Admin", FormMethod.Post, new { id = "courseEdit" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m=>m.CourseForStudentsAcademicId)
                    
                    <div class="form-horizontal">
                        @{
                    if (studentObj != null)
                    {
                        <h4 style="color: darkcyan">Course Enrollment to <span class="label label-danger">@studentObj.StudentId</span> </h4>
                            <input type="hidden" value="@studentObj.StudentIdentificationId" name="StudentIdentificationId" id="StudentIdentificationId" />

                    }
                    else
                    {
                        <h4 style="color: darkcyan">No Student Selected</h4>

                    }
                        }

                        <hr />
                        @Html.HiddenFor(m => m.SectionId)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-3">Empty Grade</label>
                            <div class="col-md-5">
                                <input class="form-control" type="checkbox" value="true" name="emptyGrade" checked="checked" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Declared Major</label>
                            <div class="col-md-5">
                                @Html.CheckBoxFor(model => model.DeclareMajor, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SemesterId, "Semester", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.DropDownList("SemesterId", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SemesterId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseForDepartmentId, "Course", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.DropDownList("CourseForDepartmentId", null, new { @class = "form-control", name = "CourseForDepartmentId" })
                                @Html.ValidationMessageFor(model => model.CourseForDepartmentId, "", new { @class = "text-danger" })
                            </div>
                            <label class="col-md-offset-3" id="CourseTypeLbl"></label>
                        </div>

                        <div class="breadcrumb" style="background: brown;color: white">
                            <div class="form-group">
                                @Html.Label("CourseType", htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-5">
                                    @Html.DropDownList("gradingCode", (SelectList)ViewBag.courseTypes, new { @class = "form-control" })
                                </div>
                                <label>***</label>
                            </div>
                            <div id="gradingInfos"></div>
                        </div>
                        <div style="color: seagreen">
                            <div class="form-group">
                                <label class="control-label col-md-3" id="attenLabel">Attendance</label>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Attendance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Attendance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" id="ctLabel">ClassTest</label>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.ClassTest, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ClassTest, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" id="mtLabel">Midterm </label>
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Midterm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Midterm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" id="ftLabel">FinalTerm</label>
                                <div class="col-md-5" onkeyup="CalculateGrade() ">
                                    @Html.EditorFor(model => model.FinalTerm, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FinalTerm, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="breadcrumb" style="color: tomato">
                            <div id="CalculateGrade"></div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.CourseStatusId, "Course Status", htmlAttributes: new {@class = "control-label col-md-3"})
                            <div class="col-md-5">
                                @Html.DropDownList("CourseStatusId", null, htmlAttributes: new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.CourseStatusId, "", new {@class = "text-danger"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.EvaluationComplete, "Evaluation Status", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.EvaluationComplete, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.EvaluationComplete, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @{
                            <div class="form-group">
                                <div class="col-md-offset-2 ">
                                    <button type="submit" class="btn btn-default" style="font-weight: bold">
                                        <span style="color: darkgreen" class="glyphicon glyphicon-floppy-disk"></span> Update
                                    </button>
                                    <button id="btndelete" style="font-weight: bold" title="Delete Course !!"  class="btn btn-default" onclick="location.href = '@Url.Action("CourseDelete", "Admin", new { courseForStudentId = @Model.CourseForStudentsAcademicId })';return false;">
                                        <span style="color: red" class="glyphicon glyphicon-remove"></span> Delete this Course
                                    </button>
                                </div>
                           </div>
                         }
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6" style="font-size: 10px">
            <div id="courseListbySemester2">

            </div>
        </div>
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<script src="~/Scripts/app/FormSubmitForCourseEdit.js"></script>

    <script type="text/javascript">
        var url = '@Url.Action("GetCoursesOfStudent", "Admin")';
        var id3 = (document.getElementById("StudentIdentificationId")).value;
        $.get(url, { studentIdentityId: id3 }, function(data) {
            $("#courseListbySemester2").html(data);
        });

        $('#courseTypes').change(function () {
            var id = $('#courseTypes :selected').val();
            $('#gradingInfos').load('@Url.Action("LoadGradingInfoes", "Admin")', { gradingId: id });
        });
        
        $('#CourseForDepartmentId').change(function() {
            var id = $('#CourseForDepartmentId :selected').val();
            var id3 = (document.getElementById("StudentIdentificationId")).value;
            $('#CourseTypeLbl').load('@Url.Action("CheckCourseType", "Admin")', { courseId: id, studentIdentityId: id3 });
        });

        $('#btndelete').click(function () {
            if (confirm("Do You want to Delete ?")) {
                return true;
            } else {
                return false;
            }
        });

        function CalculateGrade() {
            var courseId = $('#CourseForDepartmentId :selected').val();
            var gradingCode = $('#courseTypes :selected').val();
            var att = parseFloat((document.getElementById("Attendance")).value);
            var ct = parseFloat((document.getElementById("ClassTest")).value);
            var mid = parseFloat((document.getElementById("Midterm")).value);
            var finall = parseFloat((document.getElementById("FinalTerm")).value);

            if (courseId > 0) {
                if (!isNaN(att) || !isNaN(ct) || !isNaN(mid) || !isNaN(finall)) {
                    $('#CalculateGrade').load('@Url.Action("CalculateForFinalResultUpdated", "Admin")', { att: att, ct: ct, mid: mid, finall: finall, courseId: courseId, gradingCode: gradingCode });
                }
            } else {
                alert('Choose Course !!');
            }
        }
       function AttValCheck() {
            var attMark = parseFloat((document.getElementById("Attendance")).value);
            var id = $('#courseTypes :selected').val();
            if (id == "PHARMA_CORE" || id == "CORE_PAU") {
                if (attMark < 6) {
                    (document.getElementById("Attendance")).value = attMark;
                } else {
                    (document.getElementById("Attendance")).value = 0;
                }

            } else {
                (document.getElementById("Attendance")).value = attMark;

            }

       };
       function CtValCheck() {
           var ct = parseFloat((document.getElementById("ClassTest")).value);
           var id = $('#courseTypes :selected').val();
           if (id == "CORE_PAU") {
               if (ct < 26) {
                   (document.getElementById("ClassTest")).value = ct;
               } else {
                   (document.getElementById("ClassTest")).value = 0;
               }

           } else {
               (document.getElementById("ClassTest")).value = ct;

           }

       };
       function MidValCheck() {
           var mid = parseFloat((document.getElementById("Midterm")).value);
           var id = $('#courseTypes :selected').val();
           if (id == "CORE_PAU") {
               if (mid < 21) {
                   (document.getElementById("Midterm")).value = mid;
               } else {
                   (document.getElementById("Midterm")).value = 0;
               }

           } else {
               (document.getElementById("Midterm")).value = mid;

           }

       };
       function FinalValCheck() {
           var finall = parseFloat((document.getElementById("FinalTerm")).value);
           var id = $('#courseTypes :selected').val();
           if (id == "CORE_PAU") {
               if (finall < 51) {
                   (document.getElementById("FinalTerm")).value = finall;
               } else {
                   (document.getElementById("FinalTerm")).value = 0;
               }

           } else {
               (document.getElementById("FinalTerm")).value = finall;

           }

       };
    </script>
}
