﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.GradingHistory>

@{
    ViewBag.Title = "GradingHistory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Grading History</h2>

@using (Html.BeginForm())
{
    <p>
        <input type="date" class="form-control form-group" id="starTime" name="starTime"><label> @ViewBag.starTime</label> 
    </p>
    <p>
        <input type="date" class="form-control form-group" id="endTime" name="endTime"><label> @ViewBag.endTime</label>
    </p>
    <input type="submit" value="Check" class="form-group btn btn-sm hidden" />
}
<div>
    @{
        if (ViewBag.starTime != null && ViewBag.endTime != null)
        {
            @Html.ActionLink("Print", "PrintGradingHistory", "DocumentPrint",  new {starTime = ViewBag.starTime, endTime = ViewBag.endTime},null)
        }
    }
    
</div>
<table class="table">
    <tr>
        <th>
        Course Index ID    
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviousGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerIp)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseForStudentsAcademicId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreviousGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedGrade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerIp)
        </td>
       
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#starTime").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        $(document).ready(function () {
            $("#endTime").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
       $("#endTime").change(function () {

            $("input[type=submit]").click();

        });
    </script>
}