﻿@model List<UMS_MVC.ViewModels.ViewModels.CumulativeScores>


<div><h4 style="text-decoration: underline; color: darkcyan">@ViewBag.departmentInfo</h4>
    <h4 style="color: darkcyan">Total @Model.Count() results found.</h4>
</div>
@{
    if (Model.Any())
    {
        <div align="right">
            @Html.ActionLink("Print EXCEL", "ExcelForSortedCgpa", "DocumentPrint", new { ViewBag.departmentId, ViewBag.sortby }, new { style = "color:darkmagenta" })&nbsp;&nbsp;
            <button class="btn btn-success btn-sm" onclick="window.open('@Url.Action("PrintSortedCgpa", "DocumentPrint", new {ViewBag.departmentId,  ViewBag.sortby})', 'Print Student List', menubar = 0, resizable = 1, width = 250, height = 350); return false;">
                <span class="glyphicon glyphicon-print"></span> Print PDF
            </button>
        </div>
    }
}

<br/>
<div style="max-height: 550px;overflow-x: auto">
    <table class="table table-bordered" >
        <tr>
            <td>#</td>
            <td>
                @Ajax.ActionLink("ID", "GetCgpaOfAllStudentsByDepartment", new { departmentId = ViewBag.departmentId, sortBy = 1 }, new AjaxOptions
            {
                UpdateTargetId = "getCGPASofStudents"
            }) <b class="caret"></b>
            </td>
            <td>Name</td>
            <td>
                @Ajax.ActionLink("CGPA", "GetCgpaOfAllStudentsByDepartment", new { departmentId = ViewBag.departmentId, sortBy = 2 }, new AjaxOptions
            {
                UpdateTargetId = "getCGPASofStudents"
            }) <b class="caret"></b>
            </td>
        </tr>
        @{
            int x = 1;
            foreach (var result in Model)
            {
                <tr>
                    <td>@x</td>
                    <td>@result.DepartmentalId</td>
                    <td>@result.Name</td>
                    <td>@result.Cgpa</td>
                </tr>
                x++;
            }
        }
    </table>
</div>
@{
    if (ViewBag.message != null)
    {
        <h3>@ViewBag.message</h3>
    }
}
