﻿@model UMS_MVC.DataModel.Models.Essential_Types.DocumentAdding
           

<div class="">
    
    
    <h3 style="color: #337ab7"><b>Document Attatched</b></h3>
    @*<div >
        @{
            if (Model != null)
            {
                if (ViewBag.Role == "Admin" || ViewBag.Role == "Admission")
                {
                <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("EditDocumentInformation", new { id = Model.StudentId })';return false;">
                    Update <span class="glyphicon glyphicon-edit"></span>
                </button>
                }
                
            }
            else
            {
                if (ViewBag.Role == "Admin" || ViewBag.Role == "Admission")
                {
                 <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("CreateDocumentInformation", new { id = ViewBag.sid })';return false;">
                    Update <span class="glyphicon glyphicon-edit"></span>
                </button>
                }
               
  
            }
        }
    </div>*@


    <ul class="list-group">
        <li class="list-group-item"><b>SSC Certificate</b> : @Html.DisplayFor(model => model.SscCertificate)</li>
        <li class="list-group-item"><b>SSC Mark Sheet </b> : @Html.DisplayFor(model => model.SscMarkSheet)</li>
        <li class="list-group-item"><b>HSC Certificate</b> : @Html.DisplayFor(model => model.HscCertificate)</li>
        <li class="list-group-item"><b>HSC Mark Sheet</b> : @Html.DisplayFor(model => model.HscMarkSheet)</li>
        <li class="list-group-item"><b>SSC Testimonial</b> : @Html.DisplayFor(model => model.SscTestimonial)</li>
        <li class="list-group-item"><b>HSC Testimonial</b> : @Html.DisplayFor(model => model.HscTestimonial)</li>
        <li class="list-group-item"><b>Diploma Certificate</b> : @Html.DisplayFor(model => model.DiplomaCertificate)</li>
        <li class="list-group-item"><b>Diploma Mark Sheet</b> : @Html.DisplayFor(model => model.DiplomaMarkSheet)</li>
        <li class="list-group-item"><b>O level</b> : @Html.DisplayFor(model => model.Gce5Olavel)</li>
        <li class="list-group-item"><b>A level</b> : @Html.DisplayFor(model => model.Gce5Alavel)</li>
        <li class="list-group-item"><b>BA/BS Certificate</b> : @Html.DisplayFor(model => model.BaBsCertificate)</li>
        <li class="list-group-item"><b>BA/BS Mark Sheet</b> : @Html.DisplayFor(model => model.BaBsMarkSheet)</li>
        <li class="list-group-item"><b>Two Letters of Recommendation</b> : @Html.DisplayFor(model => model.TwoLettersofRecommendation)</li>
        <li class="list-group-item"><b>5 Stamp Size PhotoGraph </b> : @Html.DisplayFor(model => model.TwoStampSizePhotoGraph)</li>
       </ul>

</div>
