﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.StudentAcademicInfo>


<div>
    <h3 style="color: #337ab7"><b>Student Academic Information</b></h3>
    <div>
        @{
            if (Model != null)
            {
                @*if (ViewBag.Role == "Admin" || ViewBag.Role == "Admission")
                {
                    <button class="btn btn-info" onclick="location.href='@Url.Action("CreateAcademicInformation", new { id = Model.First().StudentId })';return false;">
                        Enter Another <span class="glyphicon glyphicon-edit"></span>
                    </button>
                    <br />
                }*@

                foreach (var item in Model)
                {
                    <div class="btn-group">
                        <br />
                        @*@{
                            if (ViewBag.Role == "Admin" || ViewBag.Role == "Admission")
                            {
                                <button class="btn btn-warning" onclick="location.href='@Url.Action("EditAcademicInformation", new { id = item.StudentAcademicInfoId })';return false;">
                                    Update <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                if (ViewBag.Role == "Admin")
                                {
                                    <button class="btn btn-danger" onclick="location.href='@Url.Action("DeleteStudentAcademicInfo", new { id = item.StudentAcademicInfoId })';return false;">
                                        Delete <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                }
                            }
                        }*@

                    </div>

                    <ul class="list-group">
                        <li class="list-group-item"><b>Name Of Examination</b>  : @Html.DisplayFor(model => item.NameOfExamination)</li>
                        <li class="list-group-item"><b>Session             </b> : @Html.DisplayFor(model => item.StartingSession)</li>
                        <li class="list-group-item"><b>Board/University    </b> : @Html.DisplayFor(model => item.UniversityBoard)</li>
                        <li class="list-group-item"><b>Passing Year        </b> : @Html.DisplayFor(model => item.PassingYear)</li>
                        <li class="list-group-item"><b>Result              </b> : @Html.DisplayFor(model => item.Result)</li>
                        <li class="list-group-item"><b>Group               </b> : @Html.DisplayFor(model => item.Group)</li>
                    </ul>
                                }
                            }
                            else
                            {  <div align="right">
            @{
                if (ViewBag.Role == "Admin" || ViewBag.Role == "Admission")
                {
                    <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("CreateAcademicInformation", new { id = ViewBag.sid })';return false;">
                        Enter Another <span class="glyphicon glyphicon-edit"></span>
                    </button>
                }
            }

        </div>

            <h4>No Academic info</h4>
                }
        }
    </div>


</div>



