﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentAcademicInfo

@{
    ViewBag.Title = "Create Academic Information";
    Layout = Session["LayoutMgr"].ToString();
}
    

<h3 style="color: deepskyblue">Create Academic Information</h3>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
    
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StudentId, new { @class = "form-control", @readonly = "readonly", })
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameOfExamination, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NameOfExamination, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NameOfExamination)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartingSession, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.StartingSession, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartingSession)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UniversityBoard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UniversityBoard, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UniversityBoard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassingYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PassingYear, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PassingYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Result, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Result)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Group, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Group)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk"></span> Add</button>
               
            </div>
        </div>
        
        @if (ViewBag.msg!=null)
        {
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a><strong>@ViewBag.msg</strong>
            </div>
        }
    </div>
}