﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentIdentification

@{
    ViewBag.Title = "Student Identity Update";
    Layout = Session["LayoutMgr"].ToString();
}

   <div class="panel panel-primary">
        <div class="panel-heading"><h4><i class="fa fa-cog"></i> Update Student's Remark Or Others</h4></div>
        <div class="panel-body">
            @using (Ajax.BeginForm("StudentIdenEdit", "StudentAllDetails",new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "msgFomServer",
                OnComplete = "dismiss_Div();"
            }))
            {
                @Html.HiddenFor(m => m.StudentIdentificationId)
                <table class="table table-hover">
                    <tr>
                        <td class="col-md-2" style="text-align: right">Student ID <i style="color: brown" class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;</td>
                        <td class="col-md-3"> @Html.TextBoxFor(m => m.StudentId, new {@class = "form-control", @readonly = "readonly"})</td>
                        <td class="col-md-6"></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Program <i style="color: brown" class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;</td>
                        <td> @Html.TextBoxFor(m => m.Department.DepartmentName, new { @class = "form-control", @readonly = "readonly" })</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Semester <i style="color: brown" class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;</td>
                        <td> @Html.TextBoxFor(m => m.Semester.SemesterNYear, new { @class = "form-control", @readonly = "readonly" })</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Admitted By <i style="color: brown" class="fa fa-ban fa-lg"></i>&nbsp;&nbsp;</td>
                        <td> @Html.TextAreaFor(m => m.EntryBy, new {@class = "form-control", @readonly = "readonly", @rows = "3"})</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Admission Date<i style="color: #228b22" class="fa fa-calendar fa-lg"></i>&nbsp;&nbsp;</td>
                        <td> @Html.TextBoxFor(m => m.AddedDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Diploma Status <i style="color: #228b22" class="fa fa-check-circle fa-lg"></i>&nbsp;&nbsp;</td>
                        <td>@Html.EditorFor(model => model.DiplomaStudent)</td>
                        <td></td>
                    </tr>
                   <tr>
                        <td style="text-align: right">Credit Transfer <i style="color: #228b22" class="fa fa-check-circle fa-lg"></i>&nbsp;&nbsp;</td>
                        <td>@Html.EditorFor(m => m.CreditTransfer)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Remark <i style="color: #228b22" class="fa fa-check-circle fa-lg"></i>&nbsp;&nbsp;</td>
                        <td>@Html.TextAreaFor(m => m.Remark, new {@class = "form-control", @rows = "3", @style = "font-weight: bold"})</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align: right">Remark <i style="color: #228b22" class="fa fa-check-circle fa-lg"></i>&nbsp;&nbsp;</td>
                        <td>@Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @rows = "3", @style = "font-weight: bold" })</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><i style="color: brown" class="fa fa-ban fa-lg"></i> = Edit Disabled, <i style="color: #228b22" class="fa fa-check-circle fa-lg"></i> = Edit Enabled</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td><button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i> Update</button></td>
                        <td></td>
                    </tr>
                </table>
            }
        </div>
       <div class="panel-footer">
           <div id="alertDivHighLight" style="display: none" class="alert alert-success col-md-offset-2" role="alert"> <label style="color: darkgreen" id="msgFomServer"></label> <span class="glyphicon glyphicon-ok"></span></div>
           @Html.ActionLink("Back to home", "StudentDetailAdmin", new {id = @Model.StudentIdentificationId})
       </div>
    </div>


@section Scripts
{
    <script type="text/javascript">
        function dismiss_Div() {
            $('#alertDivHighLight').fadeIn(300);
            $('#alertDivHighLight').delay(1500).fadeOut(1000);
        }
    </script>
     
}