﻿@model List<dynamic>

@{
    Layout = Session["LayoutMgr"].ToString();
    ViewBag.Title = "List Of Courses";
}
<div align="right">
    <span class="glyphicon glyphicon-arrow-left"></span> <label class="form-group">@Html.ActionLink("Back to Student's Profile", "RedirectToStudentPage", "StudentAllDetails", new { studentIdentityId = ViewBag.studentiIdentity }, new { @style = "color: lightseagreen" })</label>
</div>
<div align="center">
    <h3 style="color: lightseagreen;font-weight: bold"><u>Course List By Curriculum</u></h3>
</div>
<hr/>
@{
    if (Model == null)
    {
    }
    else
    {
        <div>
            <div>
                
                <div >
                    @{
                        foreach (var item2 in Model.Select(a => a.Semester).Distinct())
                        {
                            <br/>
                            <label style="color: lightseagreen">@item2</label>
                            <table class="table table-responsive" style="font-size: 10px">
                                <tr style="background: seagreen;color:white">
                                    <th width="10%">Course Code </th>
                                    <th width="30%">Course Name </th>
                                    <th width="10%">PreReq.</th>
                                    <th width="10%">Credit </th>
                                    <th width="10%">Status</th>
                                    <th width="10%">Grade</th>
                                    <th width="10%">Semester</th>
                                   
                                </tr>
                                @*@foreach (var item in Model.Where(s => s.Semester.Equals(item2) && s.Status != "Invalid" && s.Status != "Drop"))*@
                                @foreach (var item in Model.Where(s => s.Semester.Equals(item2)))
                                {
                                    <tr>
                                        <td width="10%">@item.CourseCode</td>
                                        <td width="30%">@item.CourseName  </td>
                                        <td width="10%">@item.Prerequisit</td>
                                        <td width="10%">@item.Credit</td>
                                        <td width="10%"><b>@item.Status</b></td>
                                        <td width="10%">@item.Grade</td>
                                        <td width="10%">@item.completeSemester</td>
                                    </tr>
                                }
                                <tr>
                                    <td width="10%"></td>
                                    <td width="30%"></td>
                                    <td width="10%"></td>
                                    <td width="10%"></td>
                                    <td width="10%"></td>
                                    <td width="10%"></td>
                                    <td width="10%"></td>
                                </tr>
                            </table>
                        }
                    }
                </div>
            </div>

        </div>
    }
}


<div>
    *All the Elective, Optional, Major/Minor marked as<b style="color: deepskyblue"> Semester 0</b>
</div>