﻿@model UMS_MVC.DataModel.Models.Essential_Types.Department

@{
    ViewBag.Title = "Delete";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ASchool.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASchool.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCredit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddmissionFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddmissionFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerCreditCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerCreditCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabFeePerSemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabFeePerSemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherFeePerSemister)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherFeePerSemister)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
