﻿@model UMS_MVC.DataModel.Models.Essential_Types.Account
@{
    ViewBag.Title = "Exam Index";
    Layout = Session["LayoutMgr"].ToString();
    string profileUserName = Model.Name;
    var profilesFirstChar = profileUserName.Substring(0, 1);
    var restName = profileUserName.Substring(1, profileUserName.Length - 1);
    var todaysDate = DateTime.Now;
    var serviceUrl = Session["ServiceUrl"].ToString() + "ProfileImageTransferService?imageName";
}
<br />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9" style="display: none" id="admissionTop2">
        <label class="fontstyler" style="font-family: 'Arabella';font-size: 55px">@profilesFirstChar</label><label style="font-family: 'Arabella';font-size: 32px"> @restName</label>
    </div>
    <div class="col-md-1"></div>
</div>
<br />

<div class="well" style="background: white">
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-5">
            <br />
            <label style="font-size: 25px;font-family: RightBankFLF;color:  #696969;"><b>My <b style="font-size: 40px" class="fontstyler">P</b>rofile</b></label>
            <table class="table table-hover">

                <tr>
                    <td style="font-weight: bold">Department </td>
                    <td class="fontstyler">@Model.DepartmentSection </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Designation </td>
                    <td class="fontstyler">@Model.Designation </td>
                </tr>

                <tr>
                    <td style="font-weight: bold">Phone No </td>
                    <td class="fontstyler">@Model.PhoneNo </td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Email </td>
                    <td class="fontstyler"> @Model.Email</td>
                </tr>
                <tr>
                    <td style="font-weight: bold">Tele Exchange</td>
                    <td class="fontstyler"> @Model.TeleExchange</td>
                </tr>
            </table>
        </div>
        <div class="col-md-3">
            <br />
            <div class="pull-left">
                <img lass="img-thumbnail" style="height: 200px; width: 160px" src="@serviceUrl=@Model.Pic&type=0" alt="" />
             </div>
        </div>
        <div class="col-md-3" style="font-size: 12px">
            <div class="pull-right">
                <h3 style="font-weight: bold">
                    @todaysDate.ToString("MMMM") <br />
                    <b style="font-size: 60px;color:teal">@todaysDate.Day</b><label style="font-size: 12px">@todaysDate.DayOfWeek</label><br />
                </h3>
                <hr style="border: orangered 1px solid" />
                <span style="font-size: 21px;color: teal" class="glyphicon glyphicon-stats"></span>
                <strong>UMS Status</strong>
                <blockquote style="font-size: 10px">
                    <span style="color: orangered" class="glyphicon glyphicon-asterisk"></span>  Semester <label class="labelcolor" id="activatedSemesterName"></label>
                    <br />
                    <span style="color: orangered" class="glyphicon glyphicon-open"></span> <label class="labelcolor" id="activatedTermName"></label>
                    <br />
                    <span style="color: orangered" class="glyphicon glyphicon-play"></span> Advising <label class="labelcolor" id="advisingSemester"></label>
                </blockquote>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/app/SlideDownAnimation.js"></script>
    
<script src="~/Scripts/app/SemesterStatus.js"></script>

}

<style>
    .fontstyler {
        color: #208458;
        font-weight: bold;
    }
</style>