﻿@model UMS_MVC.DataModel.Models.Essential_Types.Rebate

@{
    ViewBag.Title = "Edit";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rebate</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RebateId)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentIdentificationId, "StudentIdentificationId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentIdentificationId", String.Empty)
                @Html.ValidationMessageFor(model => model.StudentIdentificationId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RebateCategoryId, "RebateCategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RebateCategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.RebateCategoryId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
