﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@model UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic
@{
    ViewBag.Title = "Exam Index";
    Layout = Session["LayoutMgr"].ToString();
    var studentObj = ViewBag.studentInfo as StudentIdentification;
    var gradingSys = ViewBag.gradingSystem as GradingSystem;
    var courseDetails = ViewBag.courseStats as CourseForDepartment;
}
<div class="row">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Student Advised Course Update</h4></div>
            <div class="panel-body">
                @{
                    using (Ajax.BeginForm("CourseAlterCommit", "ExamSection", new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "msgFomServer",
                        OnComplete = "dismiss_Modal"
                    }))
                    {
                        @Html.HiddenFor(s => s.CourseForStudentsAcademicId)
                        @Html.HiddenFor(s => gradingSys.GradingSystemId)
                        @Html.HiddenFor(s => s.StudentIdentificationId)
                        @Html.HiddenFor(s => s.CourseForDepartmentId)
                        @Html.HiddenFor(s => s.LetterGrade)
                        @Html.HiddenFor(s => s.TotalMark)
                        @Html.HiddenFor(s => s.Grade)
                        @Html.HiddenFor(s => s.SectionId)
                        <table class="table table-hover">
                            <tr>
                                <td>
                                    Attendance
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Attendance, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Class Test
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.ClassTest, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mid Term
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Midterm, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Final Term
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.FinalTerm, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                                </td>
                            </tr>
                            <tr style="color: #ffffff; background-color: #696969">
                                <td>Custom Grade Enable</td>
                                <td>@Html.CheckBox("custGrade", new { @class = "form-control" })</td>
                            </tr>
                            <tr style="color: #ffffff; background-color: #696969">

                                <td>
                                    Course Status
                                </td>
                                <td>
                                    @Html.DropDownList("courseStatId", (SelectList)TempData["courseStatusId"], "--Choose--", new { @class = "form-control" })
                                </td>
                            </tr>
                            <tr style="color: #ffffff; background-color: #696969">
                                <td>Custom Grade </td>
                                <td>@Html.DropDownList("customGradeId", (SelectList)TempData["customGradings"], "--Auto Calculate--", new { @class = "form-control" })</td>

                            </tr>

                            <tr>
                                <td><button class="btn btn-warning" type="button" onclick="CalculateGrade()">Calculate Result</button></td>
                                <td>
                                    <button class="btn btn-success" type="submit">Save Changes</button>
                                </td>
                            </tr>
                        </table>
                        <div id="alertDivHighLight" style="display: none" class="alert alert-message col-md-offset-2" role="alert"><span class="glyphicon glyphicon-floppy-save"></span> <label id="msgFomServer"></label></div>
                    }
                }
            </div>
            <div class="panel-footer">
                <div id="calculateGradeDiv"></div>
            </div>
        </div>


    </div>
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading"><h5>Current Status</h5></div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><button class="btn btn-danger btn-sm" onclick="reloadCurrPage()">Refresh Result</button></dt>
                    <dd>
                        @{
                            if (!string.IsNullOrEmpty(studentObj.StudentPicture))
                            {

                                <img class="img-rounded" style="height: 180px; width: 160px" src="@Url.Action("SomeImage", "ExamSection", new {imageName = studentObj.StudentPicture})" alt="" />
                            }
                            else
                            {

                                <img class="img-rounded" style="height: 180px; width: 160px" src="~/Image/nopic.jpg " />
                            }
                        }
                    </dd>
                    <dt>Name</dt>
                    <dd>@studentObj.StudentInfo.StudentName</dd>
                    <dt>Student ID</dt>
                    <dd>@studentObj.StudentId</dd>
                    <dt>Section</dt>
                    <dd>@Model.SectionId</dd>
                    <dt>Program</dt>
                    <dd>@courseDetails.Department.DepartmentName</dd>
                    <dt>Course Name</dt>
                    <dd>@courseDetails.CourseName</dd>
                    <dt>Previous Marks</dt>
                    <dd>
                        <table class="table table-condensed">
                            <tr>
                                <th>Att</th>
                                <th>Ct</th>
                                <th>Mid</th>
                                <th>Final</th>
                                <th>Total</th>
                                <th>Grade</th>
                                <th>Letter</th>
                                <th>Status</th>
                            </tr>
                            <tr>
                                <td>@Model.Attendance</td>
                                <td>@Model.ClassTest</td>
                                <td>@Model.Midterm</td>
                                <td>@Model.FinalTerm</td>
                                <td>@Model.TotalMark</td>
                                <td>@Model.Grade</td>
                                <td>@Model.LetterGrade</td>
                                <td>@Model.CourseStatus.ShortName</td>
                            </tr>
                        </table>
                    </dd>
                    <dt>Grading System</dt>
                    <dd>
                        <table class="table table-condensed">
                            <tr>
                                <th></th>
                                <th>Att</th>
                                <th>Ct</th>
                                <th>Mid</th>
                                <th>Final</th>

                            </tr>
                            <tr>
                                <td>Marks-</td>
                                <td>@gradingSys.Attendance</td>
                                <td>@gradingSys.ClassTest</td>
                                <td>@gradingSys.MidTerm</td>
                                <td>@gradingSys.FinalTerm</td>
                            </tr>
                            <tr>
                                <td>Percent-</td>
                                <td>@gradingSys.AttendancePercent%</td>
                                <td>@gradingSys.ClassTestPercent%</td>
                                <td>@gradingSys.MidTermPercent%</td>
                                <td>@gradingSys.FinalTermPercent%</td>
                            </tr>
                        </table>
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <ul>
                    <li>*Calculate Result will instantly calculate the result of current form.</li>
                    <li>Use "Grey" colored highlighted portion for special grades.</li>
                    <li>**'Custom Grade Enable' checkbox must be checked to use Custom Grading System.</li>
                    <li>'Course Statuses'  is only availlable for these 3 options:</li>
                    <li>
                        <ul>
                            <li>Drop</li>
                            <li>Non-Credit</li>
                            <li>Incomplete</li>

                        </ul>
                    </li>
                    <li>Use Custom Grades only when:</li>
                    <li>
                        <table class="table table-condensed">
                            <tr>
                                <th>
                                    Custom Grade
                                </th>
                                <th>Course Status</th>
                            </tr>
                            <tr>
                                <td>'W'</td>
                                <td>Drop</td>
                            </tr>
                            <tr>
                                <td>'I'</td>
                                <td>Incomplete</td>
                            </tr>
                            <tr>
                                <td>'NCP'</td>
                                <td>Non-Credit Passed</td>
                            </tr>
                            <tr>
                                <td>'NCF'</td>
                                <td>Non-Credit Failed</td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        function reloadCurrPage() {
            location.reload(true);
        }
        function dismiss_Modal() {
            $('#alertDivHighLight').fadeIn(400);
            $('#alertDivHighLight').delay(5000).fadeOut(500);
        }
        function CalculateGrade() {
            var gradingSystem = '@gradingSys.GradingSystemId';
            var courseId = '@Model.CourseForDepartmentId';
            var att = parseFloat((document.getElementById("Attendance")).value);
            var ct = parseFloat((document.getElementById("ClassTest")).value);
            var mid = parseFloat((document.getElementById("Midterm")).value);
            var finall = parseFloat((document.getElementById("FinalTerm")).value);
            console.log(gradingSystem);
            if (gradingSystem > 0) {
                if (!isNaN(att) || !isNaN(ct) || !isNaN(mid) || !isNaN(finall)) {
                    $('#calculateGradeDiv').load('@Url.Action("CalculateResults", "ExamSection")', { att: att, ct: ct, mid: mid, finall: finall, gradingId: gradingSystem, courseId: courseId });
                }
            } else {
                alert('Data missing from fields !!');
            }
        }
    </script>

}