﻿

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{pageName}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div style="max-height: 450px; overflow-x: auto;">
                    <table class="table table-responsive" style="font-size: 12px">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Batch</th>
                            <th>Active</th>
                            <th>
                                Mid
                            </th>
                            <th>Final</th>
                            <th>Term End</th>
                            <th>Advising</th>
                            <th>Onl Admn</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="s in semesters| orderBy : s.SemesterId:true" >
                            <td>{{s.SemesterId}}</td>
                            <td>{{s.SemesterNYear}}</td>
                            <td>{{s.BatchNo}}</td>
                            <td>
                                <div flex-gt-sm="50">
                                    <md-checkbox class="md-primary" aria-label="Checkbox 1" ng-model="s.ActiveSemester">
                                    </md-checkbox>
                                </div>
                            </td>
                            <td>
                                <div flex-gt-sm="50">
                                    <md-checkbox class="md-primary" aria-label="Checkbox 2" ng-model="s.MidTerm">
                                    </md-checkbox>
                                </div>
                            </td>
                            <td>
                                <div flex-gt-sm="50">
                                    <md-checkbox class="md-primary" aria-label="Checkbox 3" ng-model="s.FinalTerm">
                                    </md-checkbox>
                                </div>
                            </td>
                            <td>
                                <p>{{s.SpecialGradeuploadDeadLine | date : "longDate"}}</p>
                            </td>
                            <td>
                                <div flex-gt-sm="50">
                                    <md-checkbox class="md-primary" aria-label="Checkbox 4" ng-model="s.CourseAdvising">
                                    </md-checkbox>
                                </div>
                            </td>
                            <td>
                                <div flex-gt-sm="50">
                                    <md-checkbox class="md-primary" ng-model="s.OnlineAdmisssionStatus" aria-label="Checkbox 5">
                                    </md-checkbox>
                                </div>
                            </td>
                            <td>
                                {{s.AdmissionStartDate}}
                            </td>
                            <td>
                                {{s.AdmissionEndDate}}
                            </td>
                            <td>
                                <button class="btn btn-warning btn-sm" ng-click="getSingle(s.SemesterId)">Edit</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>Update/Add <b>#{{semester.SemesterId}}</b></h4>
                    <form>
                        <table class="table table-condensed">
                            <tr>
                                <td>Name</td>
                                <td>
                                    <input class="form-control" ng-model="semester.SemesterNYear" />
                                </td>
                            </tr>
                            <tr>
                                <td>Batch</td>
                                <td>
                                    <input class="form-control" ng-model="semester.BatchNo" />
                                </td>
                            </tr>
                            <tr>
                                <td>Activate</td>
                                <td>

                                    <md-checkbox class="md-primary" aria-label="Checkbox 78" ng-model="semester.ActiveSemester">
                                    </md-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>Mid
                                <td>
                                    <md-checkbox class="md-primary" aria-label="Checkbox 78" ng-model="semester.MidTerm" ng-change="checkTerms()">
                                    </md-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>Final
                                <td>
                                    <md-checkbox class="md-primary" aria-label="Checkbox 78" ng-model="semester.FinalTerm" ng-change="checkTerms()">
                                    </md-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>Term End</td>
                                <td>
                                    <input type="date" ng-model="semester.SpecialGradeuploadDeadLine"/>
                                </td>
                            </tr>
                            <tr>
                                <td>Advising
                                <td>
                                    <md-checkbox class="md-primary" aria-label="Checkbox 78" ng-model="semester.CourseAdvising">
                                    </md-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td>Online Admission
                                <td>
                                    <md-checkbox class="md-primary" aria-label="Checkbox 78" ng-model="semester.OnlineAdmisssionStatus">
                                    </md-checkbox>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{msgFromServer}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="btn btn-primary btn-sm" ng-click="save()">Save</button>
                                    <button class="btn btn-warning btn-sm" ng-click="clear()">Clear</button>
                                    <button class="btn btn-danger btn-sm" ng-click="delete()">Delete</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
      </div>
    <div class="panel-footer">
    </div>
</div>

