﻿<h4>{{pageName}}</h4>

<hr />
<div class="panel panel-info">
    <div class="panel-heading">University Entry</div>
    <div class="panel panel-body well">
        <div class="row">
            <div class="col-md-6">
                <form class="form-horizontal">
                    <input type="hidden" ng-model="university.UniversityNameId" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Insitute Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name of uni" ng-model="university.InstituteName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Short Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Name" ng-model="university.ShortName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Location</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Location" ng-model="university.Location">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">Remarks</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Remarks" ng-model="university.Remarks">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone 1</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Phone 1" ng-model="university.FirstPhoneNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Phone 2</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Phone 2" ng-model="university.SecondPhoneNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Google Map Url</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Google Map" ng-model="university.GoogleMapUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-7">
                            <button type="submit" class="btn btn-success" ng-click="saveUniversity()">Save</button>
                            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">University Index</div>
    <div class="panel panel-body">
        <h4 style="color: darkgreen">Filter</h4>
        <div class="">
            <table class="table table-responsive ">
                <tr class="col-md-5">
                    <td>Any Search</td>
                    <td><input class="form-control" ng-model="anySearch" /></td>

                </tr>

            </table>
        </div>
        <br />
        <h4 style="color: darkgreen">Index Result</h4>
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th style="color: dodgerblue;">S Name</th>
                <th>Location</th>
                <th>
                    Phone No 1
                </th>
                <th>Phone No 2</th>
                <th>Remarks</th>
                <th>Map URI</th>
                <th></th>
            </tr>
            <tr ng-repeat="u in universities| filter:anySearch">
                <td>{{u.UniversityNameId}}</td>
                <td>{{u.InstituteName}}</td>
                <td style="color: dodgerblue; font-weight: bold">{{u.ShortName}}</td>
                <td style="font-size: 9px">{{u.Location}}</td>
                <td>{{u.FirstPhoneNo}}</td>
                <td>{{u.SecondPhoneNo}}</td>
                <td>{{u.Remarks}}</td>
                <td>{{u.GoogleMapUrl}}</td>
                <td>
                    <button class="btn btn-sm btn-default" ng-click="getSingleUni(u.UniversityNameId)"><span style="color: #daa520" class="glyphicon  glyphicon-edit"></span></button>
                    <button class="btn btn-sm btn-default" ng-click="removeUni(u.UniversityNameId)"><span style="color: #b22222" class="glyphicon  glyphicon-trash"></span></button>
                </td>

            </tr>
        </table>
    </div>
</div>
<br />
