﻿


<div class="row">
    <div class="col-md-4">
        <ul>
            <li><a href="#/studentIdentity">Choose Program & Semester</a></li>
            <li><a href="#/personalInfo">Enter Personal Info</a></li>
            <li><a href="#/academicInfo">Enter Academic Info</a></li>
            <li><a href="#/submittedDocument">Enter Submitted Documents</a></li>
            <li><a href="#/uploadImage">Upload Image</a></li>
        </ul>
    
    </div>
    <div class="col-md-8" >
        
    </div>
</div>