﻿@model UMS_MVC.DataModel.Models.Essential_Types.Section

@{
	ViewBag.Title = "Details";
	Layout = Session["LayoutMgr"].ToString();
}

<h2>Details</h2>

<div>
	<h4>Section</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CourseForDepartment.Department.DepartmentName)</dt>
		<dd>@Html.DisplayFor(model => model.CourseForDepartment.Department.DepartmentName)</dd>
		<dt>@Html.DisplayNameFor(model => model.CourseForDepartment.CourseCode)</dt>
		<dd>@Html.DisplayFor(model => model.CourseForDepartment.CourseCode)</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CourseForDepartment.CourseType)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CourseForDepartment.CourseType)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Teacher.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Teacher.Name) -@Html.DisplayFor(model=>model.Teacher.LoginId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SectionName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SectionName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Status)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Status)
		</dd>
		<dt>Total Student</dt>
		<dd>
			<label style="font-size: 12px" id="countTotalstudent">@Html.Action("GetCountOfStudentInSection", new { sectionId = Model.SectionId }) </label>
		</dd>
	   
		<dt>Print Options</dt>
		<dd>
			<button title="Grade Upload" class="btn btn-Custom2 btn-sm " onclick="location.href='@Url.Action("GradeUpload", "FacultyOrTeacher", new { sectionId = Model.SectionId })';return false;">
				<span class="glyphicon glyphicon-open"></span>
			</button>


			<button type="button" title="PDF Print" class="btn btn-Custom2 btn-sm" onclick="location.href='@Url.Action("PrintStudentBySection", "DocumentPrint", new { id = Model.SectionId })';return false;">
				<span class="glyphicon glyphicon-print"></span>
			</button>

			<button type="button" title="Excel Print" class="btn btn-Custom4 btn-sm " onclick="location.href='@Url.Action("GenerateSectionsXcelReport", "DocumentPrint", new { id = Model.SectionId })';return false;">
				<span class="glyphicon glyphicon-print"></span>
			</button>
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.SectionId }) |
	@Html.ActionLink("Back to List", "Index")
</p>
