﻿@model UMS_MVC.DataModel.Models.Essential_Types.Section

@{
    ViewBag.Title = "Edit";
    Layout = Session["LayoutMgr"].ToString();
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<h2>Edit Section</h2>
<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Section</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.SectionId)

            <div class="form-group">
                @Html.LabelFor(model => model.SemesterId, "SemesterId", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("SemesterId", String.Empty)
                    @Html.ValidationMessageFor(model => model.SemesterId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.SectionName, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.SectionName)
                    @Html.ValidationMessageFor(model => model.SectionName)
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Courses</label>
                <div class="col-md-8">
                    @Html.DropDownList("CourseFordepartmentId",string.Empty)
                    @*<div id="sortCourses"></div>*@
                    @Html.ValidationMessageFor(model => model.CourseForDepartmentId)
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.TeacherId, "TeacherId", new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("TeacherId", String.Empty)
                    @Html.ValidationMessageFor(model => model.TeacherId)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Status)
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HighLight, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.HighLight)
                    @Html.ValidationMessageFor(model => model.HighLight)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MidTermEx, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.MidTermEx)
                    @Html.ValidationMessageFor(model => model.MidTermEx)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FinalTermEx, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.FinalTermEx)
                    @Html.ValidationMessageFor(model => model.FinalTermEx)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ExpireDateTime, new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ExpireDateTime)
                    @Html.ValidationMessageFor(model => model.ExpireDateTime)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div class="col-md-4" style="border-left: solid crimson 1.5px">
    <br/><br />
    <h4 align="center" style="color: crimson">Section Details</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SectionId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester.SemesterNYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester.SemesterNYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseForDepartment.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseForDepartment.Department.DepartmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseForDepartment.CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseForDepartment.CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teacher.Account.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teacher.Account.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionName)
        </dd>
        <dt>Created Date</dt>
        <dd>@Model.CreatedDate</dd>
        <dt>High-Lighted</dt>
        <dd>@Html.DisplayFor(model => model.HighLight)</dd>
        <dt>Mid Granted</dt>
        <dd>@Html.DisplayFor(model => model.MidTermEx)</dd>
        <dt>Final Granted</dt>
        <dd>@Html.DisplayFor(model => model.FinalTermEx)</dd>
        <dt>Expire On</dt>
        <dd>@Model.ExpireDateTime.ToString()</dd>
    </dl>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $('#departmentId').change(function () {
            var id = $('#departmentId :selected').val();
            $('#sortCourses').load('@Url.Action("SortCourseList")', { deptId: id });
    });

    </script>

}
