﻿

<h3 style="color: darkslateblue"><i class="fa fa-th-list"></i> UMS Student Index</h3>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="well">
            <h4 style="color: darkslateblue;font-weight: bold">
                Filter Student <button class="btn btn-default" ng-click="resetFilter()">
                    <i style="color: #cd5c5c" class="fa fa-refresh"></i>
                </button>
            </h4>
            <table class="table table-borderless table-condensed" style="font-weight: bold" ng-enter="filterDo()">
                <tr>
                    <!--<td class="tableinputTextAlign">Name</td>-->
                    <td class="tableInputAlign">
                        <div class="scrollable-dropdown-menu">
                            <input type="text" ng-model="filterObj.NameSearch" placeholder="Name Search" uib-typeahead="n for n in getPreFetchNames($viewValue)" typeahead-loading="loadingRices" typeahead-no-results="noResults" typeahead-min-length="3" typeahead-wait-ms="250" class="form-control">
                            <i ng-show="loadingRices" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Data Found
                            </div>
                        </div>
                    </td>
                    <!--<td class="tableinputTextAlign">Departmemt</td>-->
                    <td class="tableInputAlign">
                        <select class="form-control" ng-change="getAllStudent()" ng-options="d.DepartmentId as d.DepartmentName for d in departments" ng-model="filterObj.departmentId">
                            <option value="">---Choose Program---</option>
                        </select>
                    </td>
                    <td>Gender</td>
                </tr>

                <tr>
                    <!--<td class="tableinputTextAlign">Student ID</td>-->
                    <td class="tableInputAlign">
                        <div class="scrollable-dropdown-menu">
                            <input type="text" ng-model="filterObj.IdSearch" placeholder="Search by Student ID" uib-typeahead="id for id in getPreFetchIds($viewValue)" typeahead-loading="loadingids" typeahead-no-results="noResults" typeahead-min-length="2" typeahead-wait-ms="250" class="form-control">
                            <i ng-show="loadingids" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> No Data Found
                            </div>
                        </div>
                    </td>

                    <td class="tableInputAlign">
                        <select class="form-control" ng-change="getAllStudent()" ng-options="s.SemesterId as s.SemesterNYear for s in semesters" ng-model="filterObj.SemesterId">
                            <option value="">---Choose Semester---</option>
                        </select>
                    </td>

                    <!--<td class="tableinputTextAlign">Gender</td>-->
                    <td>
                        <md-radio-group layout="row" ng-model="filterObj.GenderId" ng-change="getAllStudent()">
                            <md-radio-button ng-value="0" class="md-primary">ALL</md-radio-button>
                            <md-radio-button ng-value="1" class="md-primary">Male</md-radio-button>
                            <md-radio-button ng-value="2">Female</md-radio-button>
                            <md-radio-button ng-value="3">No Data</md-radio-button>
                        </md-radio-group>
                    </td>

                </tr>

            </table>
        </div>
        <div style="overflow-x: auto; max-height: 450px">
            <h4 style="color: darkslateblue;font-weight: bold">
                Filtered Index
            </h4>
            <table class="table table-hover" style="font-size: small">
                <tr style="background-color: darkslateblue;color: white">
                    <th>#</th>
                    <th>Image</th>
                    <th>Name</th>
                   <th></th>
                </tr>
                <tr ng-repeat="s in allStudentList" style="font-size: 12px">
                    <td>{{$index+1}}</td>
                    <td>
                        <img class="img-rounded" style="height: 50px; width: 42px" ng-src="{{getImage(s.StudentPicture)}}" alt="" />
                    </td>
                    <td style="font-size: 15px">
                        <p>{{s.StudentName}}</p>
                        <p style="font-weight: bold;color: darkslateblue">{{s.StudentId}}</p>
                        
                    </td>
                   
                    <td>
                        <div class="btn-group" ng-hide="s.AdmissionOfficeConfirmed">
                          <a class="btn btn-default" ng-click="setAdmId(s.StudentIdentificationId,s.StudentId,s.StudentPicture)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            <!--<button ng-click="showAdd()">Show</button>-->
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <div class="row">
            <div class="col-md-3">  Total Content <label style="color: dodgerblue">{{allStudentList.length}}/{{pageObj.TotalCount}}</label></div>
            <div class="col-md-3"></div>

            <div class="col-md-4">
                Page : <label style="color: dodgerblue"> {{pageObj.PageNo+1}}/{{pageObj.TotalPages}}</label>
                <a class="btn btn-default" ng-disabled="pageObj.PageNo == 0" ng-click="navPage(-1)">Previous <span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="btn btn-default" ng-disabled="pageObj.PageNo+1 == pageObj.TotalPages" ng-click="navPage(1)">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <div class="col-md-2">

                <div class="input-group has-success">
                    <input type="number" class="form-control" ng-model="pageObj.PageSize">
                    <span class="input-group-btn">
                        <button class="btn btn-success" ng-click="pageSizeSet()" type="button">Set</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>



<style>
    .tableinputTextAlign {
        text-align: right;
    }

    .tableInputAlign {
        text-align: left;
    }

    input.pw {
        -webkit-text-security: disc;
    }
    .scrollable-dropdown-menu .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
</style>