﻿@model IEnumerable<UMS_MVC.DataModel.Models.Login_History.LoginHistory>


<table class="table" style="font-size: 11px">
    <tr style="background-color: lightcoral">
        <th>
            #
        </th>
        <th>
            User Id
        </th>
        <th>
            User Name
        </th>
        <th>
            Role
        </th>
        <th>
            Designation/Department
        </th>
        <th>
            IP Address
        </th>
        <th>
            Login Time
        </th>
        <th>Device</th>
        <th>Browser</th>
    </tr>
    @{
        int x = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @x
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.LoginIdentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.AccountsRole.AccountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.Designation) / @Html.DisplayFor(modelItem => item.Account.DepartmentSection)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PcAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryTime)
            </td>
            <th>@Html.DisplayFor(modelItem => item.DeviceType)</th>
            <th>@Html.DisplayFor(modelItem => item.Browser)</th>
        </tr>
        x++;
    }

</table>