﻿@model List<UMS_MVC.DataModel.Models.Login_History.LoginHistory>

@{
    ViewBag.Title = "ShowLogins";
    Layout = Session["LayoutMgr"].ToString();
}
<div class="well">
    <h3>Show Logins </h3>
    <div class="form-inline">
        @using (Html.BeginForm())
        {          
            <input type="text" name="searchId" id="searchId" class="form-control form-group input-smCustom2" value=@TempData["LoginId"] />
            <input type="date" class="form-control form-group" id="userId" name="userId">
              @Html.DropDownList("roleId", (SelectList)ViewBag.roleId, "--select--", new { @class = "form-control", name = "roleId" })
            <input type="submit" value="Check" class="form-group btn btn-sm hidden" />
            <button type="submit" value="Reset" id="reset" name="reset" class="form-group btn btn-sm btn-warning">Reset</button>
        }
        @{
            if (ViewBag.access)
            {
                <div class="pull-right">
                    <button title="Delete Login History" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("DeleteLogins", "LoginMonitor")';return false;">
                        <span class="glyphicon glyphicon-trash"></span> Delete Login History
                    </button>
                </div>
            }
        }
        
    </div>
</div>
<br />

<br />
<blockquote>
    <p class="pull-right"><b style="color: brown;font-size: 25px"> @ViewBag.TotalHistory</b> &nbsp;&nbsp;&nbsp;  Total Logins</p>
</blockquote>
<div class="form-group">
    <b>Login History of @TempData["LoginId"] @ViewBag.SelectedDate</b>
    <b>Total Logins @ViewBag.allLoginCount</b>
</div>
<div class=" well">
   @Html.Partial("_LoginHistories",Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#userId").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
        $("#userId").change(function () {

            $("input[type=submit]").click();

        });
        $("#roleId").change(function () {

            $("input[type=submit]").click();

        });
       
       
    </script>
}