﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -UMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="~/Content/backgroundCss.css" rel="stylesheet" />*@
    <link href="~/Content/new2.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
@*<body id="landing-page">*@
<body class="backgroundMessaging">

    @*<div style="opacity: .5" class="navbar navbar-inverse navbar-fixed-top  shadowNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand", @style = "color:white;font-size: 26px;font-family: 'Audiowide'" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>

            </div>
        </div>
    </div>*@

    <div class="container body-content clearfix shadowNavbar">
        <div style="background-color: #750011;font-weight: bold" class="well-lg">
            @RenderBody()
        </div>
    </div>
    @*@Html.Partial("_layoutFooter")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
     .backgroundMessaging {
      background-image: url('..//Content/BackGrounds/wood .jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
       top: 0; 
     left: 0;
      min-width: 100%;
      min-height: 100%;
      }
</style>
