﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/backgroundCss.css" rel="stylesheet"/>
    <link href="~/Content/new2.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top shadowAdmission">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label style="font-size: 10px;color: #208458">Exam Controller</label>  @Html.ActionLink("UMS", "Index", "ExamControl", null, new { @class = "navbar-brand ", @style = "color:#208458;font-size: 27px;font-family: 'Audiowide'" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav cl-effect-4">
                    <li>&nbsp;&nbsp;&nbsp;</li>
                    <li>@Html.ActionLink("Students", "Index2", "StudentAllDetails")</li>
                    <li>@Html.ActionLink("Sections", "Index", "Section")</li>
                    <li>@Html.ActionLink("Admit Card", "AdmitCardPrintOut", "StudentAllDetails")</li>
                    <li>@Html.ActionLink("Grade Sheet", "GradeSheetPrintForSingleSemester", "StudentMaster")</li>
                    <li>@Html.ActionLink("Tabutation", "TabulationPage", "StudentAllDetails")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advising Status<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Course Wise", "Index", "CourseForStudent")</li>
                            <li>@Html.ActionLink("Student Wise", "AdvisedStudentList", "CourseForStudent")</li>
                            <li>@Html.ActionLink("Semester summary", "Index", "CourseOtherMatter")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div style="background: #0fda73;height:28px;display: none" id="admissionTop">
            <div style="height: 5px"></div>
            <div align="center">
                <label style="color: white;font-family: 'galga';font-size: 13px">Exam Section</label>
            </div>
        </div>*@
    <div class="container body-content clearfix shadowNavbarUni" style="background: #fff">
        <div style="min-height: 900px">
            <br />
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_layoutFooter2")
    <script src="~/Scripts/app/SlideDownAnimation.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .shadowAdmission {
        box-shadow: 0 0 18px 3px #208458;
        -moz-box-shadow: 0 0 18px 3px #208458;
        -webkit-box-shadow: 0 0 18px 3px #208458;
    }

    .shadowNavbarUni {
        box-shadow: 0 0 18px 3px #696969;
        -moz-box-shadow: 0 0 18px 3px #696969;
        -webkit-box-shadow: 0 0 18px 3px #696969;
    }

    .navbar-inverse {
        border-color: #208458;
        font-weight: bold;
        font-size: 13px;
        font-family: Verdana;
        background: white;
    }

        .navbar-inverse .navbar-nav > li > a {
            color: #696969;
        }

            .navbar-inverse .navbar-nav > li > a:hover,
            .navbar-inverse .navbar-nav > li > a:focus {
                color: #208458;
                background-color: transparent;
            }

    .cl-effect-4 a {
        padding: 0 0 10px;
    }

        .cl-effect-4 a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #208458;
            content: '';
            opacity: 0;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        .cl-effect-4 a:hover::after,
        .cl-effect-4 a:focus::after {
            height: 5px;
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
</style>