﻿

<footer id="footer">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-3">
        <div align="center">
            <div class="col-md-4">
                <canvas style="height: 80px" id="c"></canvas>
            </div>
            <div class="col-md-8">
                <p style="font-size: 15px;font-family: 'Audiowide'">
                    U M S <small style="font-size: 10px;">V2 . 5</small>
                </p>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</footer>

<style>
    html,
    body {
        height: 100%;
    }

    footer {
       padding-top: 10px;
       background-color: transparent;
       margin-top: 10px;
       height: 100px;
    }
</style>
