﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -UMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/backgroundCss.css" rel="stylesheet" />
    <link href="~/Content/new2.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")" />
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/Other Animation/circleAnimation.css" rel="stylesheet" />
</head>
@*<body id="landing-page">*@
<body>

    <div class="navbar navbar-inverse navbar-fixed-top  shadowNavbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UMS", "Index", "SystemSupport", null, new { @class = "navbar-brand", @style = "color:green;font-size: 26px;font-family: 'Audiowide'" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Main Options<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Departments", "Index", "Department")</li>
                            <li>@Html.ActionLink("Admission", "Index", "StudentIdentity")</li>
                            <li>@Html.ActionLink("Student List", "Index2", "StudentAllDetails")</li>
                            <li>@Html.ActionLink("Alter Student", "StudentDepartmentChange", "DepartmentChange")</li>
                            <li>@Html.ActionLink("Admit Card PrintOut", "AdmitCardPrintOut", "StudentAllDetails")</li>
                            <li>@Html.ActionLink("User Logins", "ShowLogins", "LoginMonitor")</li>
                            <li>@Html.ActionLink("User Activity", "ActivityLog", "SystemSupport")</li>
                       </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Course list", "Index", "Course")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Course Registration<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Course Advising", "AddCourses2", "CourseForStudent")</li>
                            <li>@Html.ActionLink("Advised student list", "Index", "CourseForStudent")</li>
                            <li>@Html.ActionLink("Advised Students", "AdvisedStudentList", "CourseForStudent")</li>
                             <li class="divider"></li>
                            <li>@Html.ActionLink("Confirm Registration", "RegistrationConfirm", "CourseForStudent")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Accounts List", "Index", "Accounts2")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Accounts Master List", "Index", "AccountMaster")</li>
                            <li>@Html.ActionLink("Accounts Image", "AccountListWithPic", "Admin")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Create Account", "Create", "Accounts2")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Teacher<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Teacher Index", "Index", "Teacher")</li>
                            <li>@Html.ActionLink("Account Status", "SyncTeacherWithAccount", "Teacher")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Section<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Student enroll to section", "EnrollToSections", "StudentEnrollmentToSection")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Section Index", "Index", "Section")</li>
                            <li>@Html.ActionLink("Create Section", "CreateUpdate", "Section")</li>
                            <li>@Html.ActionLink("Highlighted Section", "HighlightedSectionIndex", "Section")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Section for Mark upload", "SectionIndex", "FacultyOrTeacher")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Payment<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Rebate Category Add", "Create", "RebateCategory")</li>
                            <li>@Html.ActionLink("Rebate Add", "Create", "Rebate")</li>
                            <li>@Html.ActionLink("Rebated Student List", "Index", "Rebate")</li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Payment Confirm", "RegistrationPaymentPrint", "Payments")</li>
                            <li>@Html.ActionLink("Payment Received", "PaymentReceived", "Payments")</li>
                            <li>@Html.ActionLink("Payment Print", "CheckOrPrintPayment", "Payments")</li>
                            <li>@Html.ActionLink("Check all registration", "CheckRegistrationofStudents", "Payments")</li>
                            <li>@Html.ActionLink("Check all payment", "IndexPayment", "Payments")</li>

                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")&nbsp;&nbsp;&nbsp;
            </div>
        </div>
    </div>

    <div class="container body-content clearfix" style="background:#ffffff">
        <div style="min-height: 900px" class="well-lg">
            <br />
            @RenderBody()
        </div>
    </div>
    @Html.Partial("_LayoutFooter2")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/app/Animation/circleAnimation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .shadow {
        -moz-box-shadow: 0 0 30px 5px #000000;
        -webkit-box-shadow: 0 0 30px 5px #000000;
    }

    .shadow6 {
        -moz-box-shadow: 0 0 30px 5px #999;
        -webkit-box-shadow: 0 0 8px 1px darkcyan;
    }

    .shadowNavbar {
        -moz-box-shadow: 0 0 12px 2px green;
        -webkit-box-shadow: 0 0 12px 2px green;
    }

    .shadowCenterContent {
        -moz-box-shadow: 0 0 30px 5px #999;
        -webkit-box-shadow: 0 0 16px 2px #000000;
    }

    .shadowButtons {
        -moz-box-shadow: 0 0 12px 1px green;
        -webkit-box-shadow: 0 0 12px 1px green;
    }

    .shadow2 {
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 5px 5px 5px black;
        -webkit-box-shadow: 5px 5px 5px black;
        box-shadow: 5px 5px 5px black;
    }

    #landing-page {
        background: lavender repeat-x fixed top center;
        background-size: 100% 100%;
    }

    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        color: #ff0338;
        font-weight: bold;
    }

    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

    #adminNavStyle {
        opacity: .80;
    }
</style>
