﻿<!DOCTYPE html>

<html ng-app="admApp">
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/AngularMaterial/angular-material.min.css" rel="stylesheet" />
   
   </head>
<body>
<div class="fullheight">
    @RenderBody()
</div>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <!--Vendor-->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    @*<script src="~/Scripts/angular-touch.min.js"></script>*@
    <script src="~/Scripts/angular-aria.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/vendor/angular-filter.min.js"></script>
    <script src="~/Scripts/vendor/ui-bootstrap-tpls-1.2.3.min.js"></script>
    <script src="~/Scripts/vendor/AngularMaterial/angular-materialSecond.min.js"></script>
    <!--Configure-->
    <script src="~/Scripts/AdmissionApp/admission.config.js"></script>
    <script src="~/Scripts/AngularApp/app.config.js"></script>
    <!--Controller-->
    <script src="~/Scripts/AdmissionApp/controllers/admissionIntro.ctrl.js"></script>
    <script src="~/Scripts/AdmissionApp/controllers/programSelect.ctrl.js"></script>
    <script src="~/Scripts/AdmissionApp/controllers/personalInfo.ctrl.js"></script>
    <script src="~/Scripts/AdmissionApp/controllers/academicInfo.ctrl.js"></script>
    <script src="~/Scripts/AdmissionApp/controllers/imageEntry.ctrl.js"></script>
    <script src="~/Scripts/AdmissionApp/controllers/finishAll.ctrl.js"></script>
    <!--Services-->
    <script src="~/Scripts/AngularApp/services/department.service.js"></script>
@RenderSection("scripts", required: false)

<style>
    .container-fluid
{
    border: 1px solid #000;
    overflow-y:auto;
    height:100%;
}​
</style>
</body>
</html>
