﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Panel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/backgroundCss.css" rel="stylesheet" />
    <link href="~/Content/TeacherFaculty.css" rel="stylesheet"/>
    <link href="~/Content/new2.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet"/>
    <link href="~/Content/Other Animation/circleAnimation.css" rel="stylesheet" />
</head>


<body>
    <div class="navbar navbar-inverseTeacher navbar-fixed-top shadowTeacher2">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i class="fa fa-institution" style="color: #208458"></i>@Html.ActionLink("UMS", "Index", "FacultyOrTeacher", null, new { @class = "navbar-brand", @style = "color:#208458;font-size: 30px;font-family: 'Audiowide'" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Student", "Index2", "StudentAllDetails")</li>
                    <li>@Html.ActionLink("Course list", "Index", "Course")</li>
                    <li>@Html.ActionLink("My Sections", "SectionIndex", "FacultyOrTeacher")</li>
                    <li>@Html.ActionLink("Message", "ComingSoon", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="background: #208458;height:10px;display: none" id="admissionTop">
        <div style="height: 5px"></div>

    </div>
    <div class="container body-content clearfix shadowTeacher" style="background:#fff ">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="min-height: 900px">
                <br />
                @RenderBody()
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    @Html.Partial("_layoutFooter3")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/app/Animation/circleAnimation.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

