﻿
@model List<UMS_MVC.DataModel.Models.Essential_Types.PowerWork>


@{
    if (ViewBag.msg != null)
    {
        <h3 style="color: orangered">@ViewBag.msg</h3>
    }
    else
    {
        <h4 style="color: #008080">Power Works</h4>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminMainModal" onclick="loadPowerWorkUpdate(0)">
            <span style="color: green" class="glyphicon glyphicon-plus"></span> Add New
        </button>
        <table class="table  table-bordered" style="font-size: 12px;">
            <tr style="font-weight: bold">
                <th>
                    ID
                </th>
                <th>
                    Controller
                </th>
                <th>
                    Method
                </th>
                <th>
                    Restricted
                </th>
                <th></th>
            </tr>


            @{
        if (Model != null)
        {
            foreach (var powerWork in Model)
            {
                <tr>
                    <td>
                        @powerWork.PowerWorkId
                    </td>
                    <td>
                        @powerWork.ControllerName
                    </td>
                    <td>
                        @powerWork.MethodName
                    </td>
                    <td>
                        @powerWork.Restricted
                    </td>

                    <td>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminMainModal" onclick="loadPowerWorkUpdate('@powerWork.PowerWorkId')">
                            <span style="color: green" class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            }
        }

            }
        </table>
    }
}




