﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.PowerWorkAccess>


@{
    if (ViewBag.msg != null)
    {
        <h3 style="color: orangered">@ViewBag.msg</h3>
    }
    else
    {
        <h4 style="color:#008080">Power Work Access</h4>
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminMainModal" onclick="loadPowerWorkAccessUpdate(0)">
            <span style="color: green" class="glyphicon glyphicon-plus"></span> Add New
        </button>
        <table class="table  table-bordered" style="font-size: 12px">
            <tr style="font-weight: bold">
                <th></th>
                <th>
                  Name
                </th>
                <th>
                    Controller / Method
                </th>
                <th>
                    IpRestrict
                </th>
                <th>
                    PcIp
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PowerWorkAccessId</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Account.Name) (@item.Account.LoginIdentity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PowerWork.ControllerName) / @item.PowerWork.MethodName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IpRestrictions)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PcIpAddress)
                    </td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#adminMainModal" onclick="loadPowerWorkAccessUpdate('@item.PowerWorkAccessId')">
                            <span style="color: green" class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </td>
                </tr>
            }

        </table>
    }
}

