﻿@model UMS_MVC.DataModel.Models.Essential_Types.PowerWorkAccess

@using (Ajax.BeginForm("UpdatePowerWorkAccessCommit", "PowerWork", new AjaxOptions()
{
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "msgFomServer",
    OnComplete = "dismiss_Modal"
}))
{ 
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Power Work Access</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PowerWorkAccessId)

        <div class="form-group">
            @Html.LabelFor(model => model.AccountId, "AccountId", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("AccountId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PowerWorkId, "PowerWorkId", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("PowerWorkId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PowerWorkId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IpRestrictions, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IpRestrictions)
                    @Html.ValidationMessageFor(model => model.IpRestrictions, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PcIpAddress, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.PcIpAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PcIpAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" name="save" class="btn btn-success btn-group" />
                <input type="submit" value="Update" name="save" class="btn btn-warning btn-group" />
                <input type="submit" value="Delete" name="save" class="btn btn-danger btn-group" />
            </div>
        </div>
        <div id="alertDivHighLight" style="display: none" class="alert alert-success" role="alert"> <label style="color: darkgreen" id="msgFomServer"></label> <span class="glyphicon glyphicon-ok"></span></div>
    </div>
}
