﻿@model IOrderedQueryable<UMS_MVC.DataModel.Models.Essential_Types.StudentIdentification>
@{
    Layout = null;
}

@{
    var selectedDept = Session["SelectedDepartment"].ToString();
    var selecteSemester = Session["SelectedSemester"].ToString();
}

<html>
<head>
</head>
<body>
    <div align="right" style="color: #696969;font-size: 10px">@DateTime.Now</div>
    <br />
    <div align="center">
        <h1 style="color: midnightblue"><b>PRIMEASIA UNIVERSITY</b></h1>
        <br />
        <h2>List of students</h2>
    </div>
    <br />
    <hr />

    <div class="row">
        <div>*Program : @selectedDept</div>
        <div>*Semester : @selecteSemester</div>
    </div>
    @{
        int x = 1;
    }
    <table border="gray 1px solid" cellspacing="0px" cellpadding="3px" style=" font-size: 10px; font-family: Calibri">
        <tr>
            <th>
                <a style=" font-weight:bold">Sl. No.</a>
            </th>
            <th>
                <a style=" font-weight:bold">Student ID</a>
            </th>
            <th>
                <a style=" font-weight:bold">Department</a>
            </th>
            <th>
                <a style=" font-weight:bold">Name</a>
            </th>
            <th>
                <a style=" font-weight:bold">Gender</a>
            </th>
            <th>
                <a style=" font-weight:bold">Present Address</a>
            </th>
            <th>
                <a style=" font-weight:bold">Permanent Address</a>
            </th>
            <th>
                <a style=" font-weight:bold">td No</a>
            </th>
            <th>
                <a style=" font-weight:bold">Name of Father</a>
            </th>
            <th>
                <a style=" font-weight:bold">Name of Mother</a>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td >
                    <a >@x</a>
                </td>
                <td >
                    <a  >@item.StudentId</a>
                </td>
                @{
            if (item.StudentInfoId != null)
            {
                <td >
                    <a  >@item.Department.DepartmentName</a>
                </td>
                    <td >
                        <a  >@item.StudentInfo.StudentName</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.Genders.GenderName</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.PresentAddress</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.ParmanentAddress</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.MobileNo</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.FathersName</a>
                    </td>
                    <td >
                        <a  >@item.StudentInfo.MothersName</a>
                    </td>


            }
            else
            {
                <td >
                    <a  ></a>
                </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>
                    <td >
                        <a  ></a>
                    </td>


            }
                }

            </tr>

            x++;
        }

    </table>

    <label>*Total no.of Students = @Model.Count()</label>
  
</body>
</html>

