﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentInfo

@{
    Layout = null;
}
@{
    string imageName = @Model.StudentId + ".jpg";
    string physicalPath = Server.MapPath("~/Image/" + imageName);
}

<html>
    <head>       
    </head>
    <body>
        <div align="right" style="color: #696969;font-size: 10px">@DateTime.Now</div>
        <div>
            <br />
            <h1 style="color: midnightblue"><b>            PRIMEASIA UNIVERSITY</b></h1>
        </div>
        <br />
        <br/>
        
        <br />
        <hr />
        <div align="left">
            <h3>*Student ID : @Model.StudentId</h3>
        </div>
        <br />
        <br />
    
        <div align="left">
            <h4><u>Student Profile</u></h4>
        </div>
        <br/>
        <ul class="list-group">
            <li class="list-group-item"><b>Student's Name</b> : @Model.StudentName</li>
            <li class="list-group-item"><b>Father's Name</b> : @Html.DisplayFor(model => model.FathersName)</li>
            <li class="list-group-item"><b>Mother's Name</b> : @Html.DisplayFor(model => model.MothersName)</li>
            <li class="list-group-item"><b>Blood Group</b> : @Html.DisplayFor(model => model.BloodGroups.Name)</li>
            <li class="list-group-item"><b>Present Address</b> : @Html.DisplayFor(model => model.PresentAddress)</li>
            <li class="list-group-item"><b>Permanent Address</b> : @Html.DisplayFor(model => model.ParmanentAddress)</li>
            <li class="list-group-item"><b>Phone No</b> : @Html.DisplayFor(model => model.PhoneNo)</li>
            <li class="list-group-item"><b>Mobile No</b> : @Html.DisplayFor(model => model.MobileNo)</li>
            <li class="list-group-item"><b>Date of birth</b> : @Html.DisplayFor(model => model.DateOfBirth)</li>
            <li class="list-group-item"><b>Marital Status</b> : @Html.DisplayFor(model => model.MariaStatus.MaritalStat)</li>
            <li class="list-group-item"><b>Gender</b> : @Html.DisplayFor(model => model.Genders.GenderName)</li>
            <li class="list-group-item"><b>Nationality</b> : @Html.DisplayFor(model => model.Nationality)</li>
            <li class="list-group-item"><b>Skills in other field</b> : @Html.DisplayFor(model => model.SkillInOtherfield)</li>
            <li class="list-group-item"><b>Local guardian</b> : @Html.DisplayFor(model => model.LocalGuardianName)</li>
            <li class="list-group-item"><b>Relation with local Guardian</b> : @Html.DisplayFor(model => model.LocalGuardianRelationship)</li>
            <li class="list-group-item"><b>Local Guardian's address</b> : @Html.DisplayFor(model => model.LocalGuardianAddress)</li>
            <li class="list-group-item"><b>Local Guardian's contact no</b> : @Html.DisplayFor(model => model.LocalGuardianContact)</li>
        </ul>
        <br />
        <br />
        <hr />
        <div align="center" style="color: #696969; font-size: 18px">
            Primeasia University
        </div>
       
        
    </body>
         <itext producer="RazorPDF">
             <img align="left" url="@Context.Server.MapPath("~/Image/pau.jpg")" height="45" width="45" />
             @if (File.Exists(physicalPath))
             {
                 <img align="right" url="@Context.Server.MapPath("~/Image/" + imageName)" height="140" width="110" />
             }
         
        </itext>
</html>





