﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@using UMS_MVC.Manager.DAL.BLL
@using UMS_MVC.ViewModels.ViewModels
@model IEnumerable<UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic>
@{
    Layout = null;
    var studentcgpas = (List<CumulativeScores>)ViewBag.Gpa;
    var studentObject = (StudentIdentification)ViewBag.Student;
    var cumulativeObj =(CumulativeScores) ViewBag.CumulativeScore;
    var userData =(Account) ViewBag.PrintedBy;
    var printType = (int)ViewBag.printType;

}

<html>
<head>

</head>
<body>
<div align="right">
    <p style="font-size: 5px">*Printed By- @userData.Name (@userData.LoginIdentity), Print Time- @DateTime.Now **UMS Print**</p>
</div>
<div>
    <table widths="1;3;12;1">
        <tr>
            <td></td>
            <td><img url="@Context.Server.MapPath("~/Image/pau.jpg")" height="50" width="45"/></td>
            <td>
                <div align="center">
                    <p style="font-size: 22px; color: navy; font-weight: bold">PRIMEASIA UNIVERSITY</p>
                    @*<p class="serif" style="font-size: 10px;">a mission with a vision</p>*@
                    <p style="font-size: 7px"> Star Tower,12 Kemal Ataturk Avenue,Banani C/A,Dhaka-1213, Bangladesh</p>
                    <p style="font-size: 7px">Phone: 8853386, 8860905, 8817534,9895234, Fax: +880-2-8860905, cell : 01817-035693</p>
                </div>
            </td>
            <td></td>
        </tr>
    </table>
</div>
    <br />
<div align="center">
    <p style="font-size: 15px;">
        Transcript of Academic Record
    </p>
</div>
    <br />
    <hr />
<div>
    <table widths="4;12;7;2">
        <tr>
            <td>
                <div align="left">
                    <p style="font-size: 10px; font-weight: bold">Name</p>
                </div>
            </td>
            <td>
                <div align="left">
                    <p style="font-size: 10px;">: @studentObject.StudentInfo.StudentName</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px; font-weight: bold">Total Credit Completed</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px;">: @cumulativeObj.CreditEarned</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="left">
                    <p style="font-size: 10px; font-weight: bold">Student's Id </p>
                </div>
            </td>
            <td>
                <div align="left">
                    <p style="font-size: 10px;">: @studentObject.StudentId</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px; font-weight: bold">Courses Completed</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px;">: @cumulativeObj.CourseCompleted</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="left">
                    <p style="font-size: 10px; font-weight: bold">Program</p>
                </div>
            </td>
            <td>
                <div align="left">
                    <p style="font-size: 10px;">: @studentObject.Department.DepartmentName</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px; font-weight: bold">CGPA</p>
                </div>
            </td>
            <td>
                <div align="right">
                    <p style="font-size: 10px;">: @cumulativeObj.Cgpa</p>
                </div>
            </td>
        </tr>
    </table>
    <br/>
</div>
@{
    if (Model != null)
    {
        <div>


            <div>
                <div>
                    @{
                        var semesterCounter = 1;
                        foreach (var item2 in Model.Select(a => a.Semester.SemesterId).Distinct())
                        {


                            var semesterOrdinalName = NumericCordianal.AddOrdinal(semesterCounter);
                            var semester = Model.First(s => s.SemesterId == item2);
                            var semesterName = semester.Semester.SemesterNYear;
                            <table border="1" cellspacing="1" cellpadding="1" width="100%" widths="1;4;8;1;1;1;1;1;1">
                                
                                <row style="background: lightseagreen; color: white">
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 10px; width: 17%; font-weight: bold">@semesterOrdinalName Semester </chunk></cell>
                                    @{
                                        if (printType == 1)
                                        {
                                            <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 10px; width: 43%; font-weight: bold">@semesterName</chunk></cell>
                                        }
                                        else
                                        {
                                            <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 10px; width: 43%; font-weight: bold">@semesterName <chunk style="font-size: 8px"> (Unofficial / Student's Copy)</chunk></chunk></cell>
                                        }
                                    }
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    @*<cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>*@
                                </row>
                                <row style="background: lightseagreen; color: white">
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Sl.</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 17%; font-weight: bold">Course Code</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 43%; font-weight: bold">Course Title</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Credit Hour</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Mid</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Final</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Letter Grade</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Grade Point</chunk></cell>
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Cr.Hr.*Gr.Pt.</chunk></cell>
                                    @*<cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">Status</chunk></cell>*@
                                </row>
                                @{
                                    int courseCounter = 1;
                                }
                                @foreach (var item in Model.Where(s => s.Semester.SemesterId.Equals(item2)))
                                {

                                    var creditVal = item.CourseForDepartment.Credit;
                                    <row>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" ><chunk align="Center" style="font-size: 7px; width: 5%">@courseCounter</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" ><chunk align="Center" style="font-size: 7px; width: 17%">@item.CourseForDepartment.CourseCode</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" ><chunk align="Center" style="font-size: 7px; width: 43%">@item.CourseForDepartment.CourseName</chunk></cell>
                                        @{
                                            if (item.CourseStatusId != 2)
                                            {
                                                <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" ><chunk align="Center" style="font-size: 7px; width: 5%">(0.0)</chunk></cell>

                                            }
                                            else
                                            {
                                                <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" ><chunk align="Center" style="font-size: 7px; width: 5%">@creditVal.ToString("0.0")</chunk></cell>

                                            }
                                        }
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center"><chunk align="Center" style="font-size: 7px; width: 5%">@item.Midterm</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center"><chunk align="Center" style="font-size: 7px; width: 5%">@item.FinalTerm</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center"><chunk align="Center" style="font-size: 7px; width: 5%">@item.LetterGrade</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center"><chunk align="Center" style="font-size: 7px; width: 5%">@item.Grade.ToString("0.00")</chunk></cell>
                                        <cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center"><chunk align="Center" style="font-size: 7px; width: 5%">@item.TotalGrade</chunk></cell>
                                        @*<cell borderwidth="0.1" left="true" right="true" top="true" bottom="true" horizontalalign="Center" verticalaign="Center"><chunk style="font-size: 7px; width: 5%">@item.CourseStatus.ShortName</chunk></cell>*@

                                    </row>
                                    courseCounter++;
                                }
                                <row style="background: lightgrey; font-weight: bold">
                                    @{
                                        var selectedCgpas = studentcgpas.First(s => s.SemesterId == item2);
                                    }
                                    <cell borderwidth="0.2" left="true" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 17%; font-weight: bold">Credits Taken : @selectedCgpas.Credits</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 43%; font-weight: bold">Total Grade point : @selectedCgpas.TotalGrade</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">GPA</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">: @selectedCgpas.SemesterGpa</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold">CGPA</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"> : @selectedCgpas.Cgpa</chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    <cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>
                                    @*<cell borderwidth="0.2" left="false" top="true" bottom="true" horizontalalign="Center"><chunk style="font-size: 7px; width: 5%; font-weight: bold"></chunk></cell>*@
                                </row>

                            </table>
                            semesterCounter++;
                        }
                    }
                </div>
            </div>
        </div>
    }
}
@{
    if (printType == 1)
    {
        <table width="100%" widths="5;5;5">
            <row>
                <cell><chunk style="font-size: 12px;font-weight: bold">&nbsp;&nbsp;@userData.Name</chunk></cell>
                <cell><chunk style="font-size: 11px"></chunk></cell>
                <cell><chunk style="font-size: 11px"></chunk></cell>
            </row>
            <row>
                <cell><chunk style="font-size: 7px">@userData.Designation, @userData.DepartmentSection</chunk></cell>
                <cell><chunk style="font-size: 11px"></chunk></cell>
                <cell><chunk style="font-size: 11px"></chunk></cell>
            </row>
            <row>
                <cell>----------------------------------</cell>
                <cell></cell>
                <cell>----------------------------------</cell>
            </row>
            <row>
                <cell><chunk style="font-size: 11px">Verified by</chunk></cell>
                <cell></cell>
                <cell><chunk style="font-size: 11px">Controller Of Examinations</chunk></cell>

            </row>
            <row>
                <cell><chunk style="font-size: 7px">Date : @DateTime.Now.ToString("dd/MM/yyyy")</chunk></cell>
                <cell></cell>
                <cell><chunk style="font-size: 7px;">Date :</chunk></cell>
            </row>
        </table>
            @*<table widths="4;2;4;2;7">
                <tr>
                    <td>
                        <div align="center">
                            <label style="font-size: 10px">@userData.Name</label>
                            <br />
                            <label>_____________</label>
                            <p style="font-size: 10px; font-weight: bold">Prepared By</p>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div align="center">
                            <br />
                            <p>_____________</p>
                            <p style="font-size: 10px; font-weight: bold">Verified By</p>
                        </div>
                    </td>
                    <td></td>
                    <td>
                        <div align="center">
                            <br />
                            <p>_______________________</p>
                            <p style="font-size: 10px; font-weight: bold">Controller of Examinations</p>
                        </div>
                    </td>
                </tr>
            </table>*@
      
    }
}


</body>
</html>

<style>
    p.serif {
        font-family: "Copperplate Gothic Bold";
    }

    p.sansserif {
        font-family: Arial, Helvetica, sans-serif;
    }
</style>