﻿@using Microsoft.Ajax.Utilities
@using UMS_MVC.DataModel.Models.Essential_Types
@using UMS_MVC.ViewModels.ViewModels
@model List<UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic>
@{
    Layout = null;
    int x = 1;
    var cumulativeScores = (List<CumulativeScores>)ViewData["createTabulation"];
    var deptName = (string)ViewBag.deptName;
    var semesterName = (string)ViewBag.semester;
    string meritnamesA = "";
    string meritnamesB = "";
    int meritCountA = 0;
    int meritCountB = 0;
}
<style type="text/css">
    .tdstyle1 {
        vertical-align: bottom;
        text-align: center;
    }

    .tdstyle2 {
        background-color: #CCCCCC;
    }

    .tdstyle3 {
        vertical-align: middle;
        text-align: left;
    }

    .tdstyle4 {
        vertical-align: middle;
        text-align: right;
    }

    .lblstyle {
        font-size: 15px;
        font-weight: bold;
    }
</style>

<div align="center">
    <h2>Primeasia University</h2>
    <strong class="lblstyle">TABULATED RESULTS, FINAL EXAM, @semesterName</strong>
    <br />
    <strong class="lblstyle">@deptName</strong>
</div>
<div align="left">Result Published : @DateTime.Now.ToShortDateString()</div>
<br />
<div>
    @{
        if (Model != null)
        {
            <br />
            var courses = Model.DistinctBy(s => s.CourseForDepartment.CourseForDepartmentId);
            var students = Model.DistinctBy(s => s.StudentIdentificationId);
            <div style="overflow: auto">

                <table class="table table-condensed table-bordered" border="gray 1px solid" style="font-size: 14px;">
                    <tr>
                        <th width="3%"></th>
                        <th width="3%"></th>
                        <th width="4%"></th>
                        <th width="10%" style="text-align: right">Course Code-</th>

                        @{
                            var courseForStudentsAcademics = courses as IList<CourseForStudentsAcademic> ?? Enumerable.ToList<CourseForStudentsAcademic>(courses);
                        }
                        @foreach (var item2 in courseForStudentsAcademics)
                        {
                            <th width="5%" style="text-align: center; background-color: #CCCCCC">
                                <label>@item2.CourseForDepartment.CourseCode </label>
                            </th>
                        }
                        <th width="5%"></th>
                        <th width="5%"></th>
                        <th width="5%"></th>
                    </tr>
                    <tr>
                        <th width="3%"></th>
                        <th width="3%"></th>
                        <th width="4%"></th>
                        <th width="10%" style="text-align: right">Credit-</th>
                        @foreach (var item2 in courseForStudentsAcademics)
                        {
                            <th width="5%" style="text-align: center; background-color: #CCCCCC">
                                <label>@item2.CourseForDepartment.Credit </label>
                            </th>
                        }
                        <th width="7%" style="text-align: center; font-weight: bold; background: #468847; color: white">ACR</th>
                        <th width="7%" style="text-align: center; font-weight: bold; background: #468847; color: white">ECR</th>
                        <th width="7%" style="text-align: center; font-weight: bold; background: #468847; color: white">GPA</th>
                    </tr>
                    <tr style="background: pink">
                        <th width="3%"></th>
                        <th width="3%">#</th>
                        <th width="4%">ID</th>
                        <th width="10%">Name</th>
                    </tr>
                    @foreach (var item1 in students)
                    {
                        var cumulatives = cumulativeScores.First(s => s.StudentId == item1.StudentIdentificationId);
                        <tr>
                            <td width="3%" style="font-size: 15px">
                                @{
                                    if (cumulatives.SemesterGpa >= 3.00 && cumulatives.SemesterGpa <= 3.74)
                                    {
                                        <label>*</label>
                                        meritnamesA = meritnamesA + item1.StudentIdentification.StudentId + ", ";
                                        meritCountA += 1;
                                    }
                                    else if (cumulatives.SemesterGpa >= 3.75)
                                    {
                                        <label style="font-weight: bold">**</label>
                                        meritnamesB = meritnamesB + item1.StudentIdentification.StudentId + ", ";
                                        meritCountB += 1;
                                    }
                                }
                            </td>
                            <td width="3%">@x</td>
                            <td width="4%">@item1.StudentIdentification.StudentId</td>
                            @{
                                if (item1.StudentIdentification.StudentInfo == null)
                                {
                                    <td width="10%">---</td>
                                }
                                else
                                {
                                    <td width="10%">@item1.StudentIdentification.StudentInfo.StudentName</td>
                                }
                            }
                            @foreach (var item2 in courseForStudentsAcademics)
                            {
                                var studentWiseCourses = Model.Where(s => s.StudentIdentificationId == item1.StudentIdentificationId);

                                <td style="text-align: center; font-weight: bold">
                                    @foreach (var i in studentWiseCourses.Where(s => s.CourseForDepartment.CourseForDepartmentId == item2.CourseForDepartment.CourseForDepartmentId))
                                    {
                                        if (!string.IsNullOrEmpty(i.LetterGrade))
                                        {
                                            @i.LetterGrade
                                        }
                                        else
                                        {
                                            <b>*</b>

                                        }

                                    }
                                </td>
                            }
                            <td width="7%" style="text-align: center; font-weight: bold">@cumulatives.Credits.ToString("0.00")</td>
                            <td width="7%" style="text-align: center; font-weight: bold">@cumulatives.CreditEarned.ToString("0.00")</td>
                            <td width="7%" style="text-align: center; font-weight: bold; background: khaki">@cumulatives.SemesterGpa.ToString("0.00")</td>
                        </tr>
                        x++;
                    }
                </table>

            </div>
        }
    }
</div>

<div>
    <hr />
    <h3 style="color: mediumaquamarine">&nbsp;Merit List</h3>
    &nbsp;> Following Students got GPA 3.00 - 3.74 (Total : @meritCountA)
    <br />
    &nbsp;-- @meritnamesA
    <br /><br />
    &nbsp;> Following Students got GPA > 3.74 (Total :@meritCountB) 
    <br />
    &nbsp;-- @meritnamesB
</div>




