﻿@using UMS_MVC.DataModel.Models.Essential_Types
@model List<UMS_MVC.ViewModels.ViewModels.Reporting.StudentObjectDTO>
@{
    Layout = null;
}

@{
    var selectedDept = Session["SelectedDepartment"].ToString();
    var selecteSemester = (Semester)Session["SelectedSemester"];
}

<html>
<head>
</head>
<body>
    <div align="right" style="color: #696969;font-size: 10px">@DateTime.Now</div>
    <br />
    <div align="center">
        <h1 style="color: midnightblue"><b>PRIMEASIA UNIVERSITY</b></h1>
        <br />
        <h2>List of students</h2>
    </div>
    <br />
    <hr />

    <div class="row">
        <div>*Program : @selectedDept</div>
        <div>*Semester : @selecteSemester.SemesterNYear</div>
    </div>
    @{
        int x = 1;
    }
    <table border="gray 1px solid" cellspacing="0px" cellpadding="3px" style="font-size: 10px; font-family: Calibri">
        <tr>
            <th>
                <b>Sl. No.</b>
            </th>
            <th>
                <b>Name</b>
            </th>
            <th>
                <b>Father's Name</b>
            </th>
            <th>
                <b>Student ID</b>
            </th>
            <th>
                <b>Date of Birth</b>
            </th>
            <th>
                <b>Admission Date</b>
            </th>
            <th>
                <b>Batch No</b>
            </th>
            <th>
                <b>Department Name</b>
            </th>
            <th>
               * Advised
            </th>
        </tr>
        @foreach (var item in Model)
        {
            string formattedBirth = item.DateOfBirth.HasValue ? item.DateOfBirth.Value.ToString("yyyy, MMMM dd") : string.Empty;
            <tr>
                <td>
                    <a>@x</a>
                </td>
                <td>
                    <a>@item.Name</a>
                </td>
                <td>
                    <a>@item.FatherName</a>
                </td>
                <td>
                    <a>@item.StudentId</a>
                </td>
                <td>
                    @formattedBirth
                </td>
                <td>
                    @item.AddedDate.ToString("yyyy, MMMM dd")
                </td>
                <td>
                    @selecteSemester.BatchNo
                </td>
                <td>
                    <a>@selectedDept</a>
                </td>
                @{
                    if (item.Advised)
                    {
                        <td style="background: mediumseagreen; color: white;text-align: center">Yes</td>
                       
                    }
                    else
                    {
                        <td style="background: indianred; color: white;text-align: center">No</td>
                    }
                }
               
            </tr>

            x++;
        }

    </table>

    <label>*Total no.of Students = @Model.Count()</label>

</body>
</html>
