﻿@model UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic

@{
    Layout = null;
}

@using (Html.BeginForm("SubmitGradeForLab", "FacultyOrTeacher"))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => Model.CourseForStudentsAcademicId)
    <tr>
        <td>
            @Html.DisplayFor(model => Model.StudentIdentification.StudentId)
        </td>
        <td>
            @Html.DisplayFor(model => Model.StudentIdentification.StudentInfo.StudentName)
        </td>
        <td>
            ---
        </td>
        <td>
            ---
        </td>
        <td>
            @Html.TextBoxFor(model => Model.Midterm, new { @class = "form-control input-smCustom3ForGrade" })
        </td>
        <td>
            @Html.DisplayFor(model => Model.FinalTerm)
        </td>
        <td>
            <b>@Html.DisplayFor(model => Model.TotalMark)</b>
        </td>
        <td style="font-size: 14px">
            <b>@Html.DisplayFor(model => Model.Grade)</b>
        </td>
        <td style="font-size: 14px">
            <b>@Html.DisplayFor(model => Model.LetterGrade)</b>
        </td>
        <td>
            <input type="submit" value="Submit" class="btn btn-sm btn-default" />
        </td>
        <td>
            <div id="loadF2">
                @if (TempData["gradeUploadMsg"] != null)
                {
                    if (TempData["gradeForCourseId"].ToString() == Model.CourseForStudentsAcademicId.ToString() && TempData["gradeUploadMsg"].ToString() == "1")
                    {
                        <span class="glyphicon glyphicon-saved" style="font-size: 15px;color: green"></span>
                    }
                    else if (TempData["gradeForCourseId"].ToString() == Model.CourseForStudentsAcademicId.ToString() && TempData["gradeUploadMsg"].ToString() == "2")
                    {
                        <span class="glyphicon glyphicon-ban-circle" style="font-size: 15px;color: orangered"></span>
                    }
                }
            </div>

        </td>
    </tr>
}
