﻿ 
body {
        background-image: url('..//Content/BackGrounds/Fiber/subtlenet2.png');
        background-attachment: fixed;
        font-weight: 400;
        line-height: 18px;
        -webkit-font-smoothing: antialiased;
    }