﻿ .shadowTeacher {
        box-shadow: 0 0 18px 3px dimgrey;
        -moz-box-shadow: 0 0 18px 3px dimgrey;
        -webkit-box-shadow: 0 0 18px 3px dimgrey;
    }

    .shadowTeacher2 {
        box-shadow: 0 0 12px 3px #208458;
        -moz-box-shadow: 0 0 12px 3px #208458;
        -webkit-box-shadow: 0 0 12px 3px #208458;
    }

    .navbar-inverseTeacher {
        border-color: #208458;
        font-weight: bold;
        font-size: 13px;
        font-family: Verdana;
    }

        .navbar-inverseTeacher .navbar-nav > li > a {
            color: #4a0017;
        }

            .navbar-inverseTeacher .navbar-nav > li > a:hover,
            .navbar-inverseTeacher .navbar-nav > li > a:focus {
                color: #208458;
                background-color: transparent;
            }

  
            
    /*Effects*/
     .cl-effect-4 a {
        padding: 0 0 10px;
    }

        .cl-effect-4 a::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #208458;
            content: '';
            opacity: 0;
            -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
            -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
            transition: height 0.3s, opacity 0.3s, transform 0.3s;
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
        }

        .cl-effect-4 a:hover::after,
        .cl-effect-4 a:focus::after {
            height: 5px;
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            transform: translateY(0px);
        }
