﻿@model UMS_MVC.DataModel.Models.Essential_Types.SpecialWaiverStudents

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmission.cshtml";
}


<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SpecialWaiverStudents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StudentIdentificationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIdentificationId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
