﻿@model UMS_MVC.DataModel.Models.Essential_Types.SpecialWaiverStudents

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmission.cshtml";
}
}

<h2>Details</h2>

<div>
    <h4>Special Waiver Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.StudentIdentificationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentIdentificationId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.specialwaiverID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
