﻿@model UMS_MVC.DataModel.Models.Essential_Types.DocumentAdding

@{
	ViewBag.Title = "DetailsOfDocuments";
	Layout = Session["LayoutMgr"].ToString();
}

<h2>DetailsOfDocuments</h2>

<div>
	<h4>DocumentAdding</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.StudentId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StudentId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SscCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SscCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SscMarkSheet)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SscMarkSheet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HscCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HscCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.HscMarkSheet)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.HscMarkSheet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DiplomaCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DiplomaCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.DiplomaMarkSheet)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.DiplomaMarkSheet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Gce5Olavel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Gce5Olavel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Gce5Alavel)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Gce5Alavel)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BaBsCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BaBsCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.BaBsMarkSheet)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.BaBsMarkSheet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MaMsCertificate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MaMsCertificate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.MaMsMarkSheet)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MaMsMarkSheet)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwoLettersofRecommendation)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwoLettersofRecommendation)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TwoStampSizePhotoGraph)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TwoStampSizePhotoGraph)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", "Documents",new { id = Model.DocumentAddingId },null) |
</p>
