﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentInfo

@{
    ViewBag.Title = "Edit";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StudentInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.StudentInfoId)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentId)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName)
                @Html.ValidationMessageFor(model => model.StudentName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FathersName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FathersName)
                @Html.ValidationMessageFor(model => model.FathersName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MothersName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MothersName)
                @Html.ValidationMessageFor(model => model.MothersName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PresentAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PresentAddress)
                @Html.ValidationMessageFor(model => model.PresentAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParmanentAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParmanentAddress)
                @Html.ValidationMessageFor(model => model.ParmanentAddress)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNo)
                @Html.ValidationMessageFor(model => model.PhoneNo)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MobileNo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNo)
                @Html.ValidationMessageFor(model => model.MobileNo)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BloodGroupsId,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BloodGroupsId", String.Empty)
                @Html.ValidationMessageFor(model => model.BloodGroupsId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaritalStatusId,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaritalStatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.MaritalStatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GenderId,  new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GenderId", String.Empty)
                @Html.ValidationMessageFor(model => model.GenderId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nationality, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nationality)
                @Html.ValidationMessageFor(model => model.Nationality)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SkillInOtherfield, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SkillInOtherfield)
                @Html.ValidationMessageFor(model => model.SkillInOtherfield)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalGuardianName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalGuardianName)
                @Html.ValidationMessageFor(model => model.LocalGuardianName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalGuardianRelationship, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalGuardianRelationship)
                @Html.ValidationMessageFor(model => model.LocalGuardianRelationship)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalGuardianAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalGuardianAddress)
                @Html.ValidationMessageFor(model => model.LocalGuardianAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LocalGuardianContact, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LocalGuardianContact)
                @Html.ValidationMessageFor(model => model.LocalGuardianContact)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
