﻿@model UMS_MVC.DataModel.Models.Essential_Types.DocumentAdding

@{
    ViewBag.Title = "Create";
    Layout = Session["LayoutMgr"].ToString();
}
<h3 style="color: deepskyblue">Document Attached</h3>
<div class="col-md-offset-1 col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

   <p> <b> Student ID</b> @Html.TextBoxFor(model => model.StudentId, new { @class = "form-control", @readonly = "readonly", onfocus = "this.blur()" })</p>
        <table class="table table-striped" style="font-weight: bold">
            @*<tr style="background: darkgrey">
                <th>Subject</th>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>Category 3</th>
            </tr>*@
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> SSC</td>
                <td>Certificate @Html.EditorFor(model => model.SscCertificate)</td>
                <td>MarkSheet @Html.EditorFor(model => model.SscMarkSheet)</td>
                <td>Testimonial @Html.EditorFor(model=>model.SscTestimonial)</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> HSC</td>
                <td>Certificate @Html.EditorFor(model => model.HscCertificate)</td>
                <td>MarkSheet @Html.EditorFor(model => model.HscMarkSheet) </td>
                <td>Testimonial @Html.EditorFor(model => model.HscTestimonial)</td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> Diploma</td>
                <td>Certificate @Html.EditorFor(model => model.DiplomaCertificate)</td>
                <td>MarkSheet @Html.EditorFor(model => model.DiplomaMarkSheet) </td>
                <td></td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> 5 GCE</td>
                <td>O-level @Html.EditorFor(model => model.Gce5Olavel)</td>
                <td>2 GCE A-level @Html.EditorFor(model => model.Gce5Alavel)</td>
                <td></td>
            </tr>
            
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> BA/BS</td>
                <td>Certificate @Html.EditorFor(model => model.BaBsCertificate)</td>
                <td>MarkSheet @Html.EditorFor(model => model.BaBsMarkSheet)</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> MA/MS</td>
                <td>Certificate @Html.EditorFor(model => model.MaMsCertificate)</td>
                <td>MarkSheet @Html.EditorFor(model => model.MaMsMarkSheet)</td>
                <td></td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> 2 letters of recommendation</td>
                <td>@Html.EditorFor(model => model.TwoLettersofRecommendation)</td>
                <td></td><td></td>
            </tr>
            <tr>
                <td><span class="glyphicon glyphicon-pencil"></span> 5 PhotoGraph</td>
                <td>@Html.EditorFor(model => model.TwoStampSizePhotoGraph)</td>
                <td></td><td></td>
            </tr>
           
        </table>


        <div>
            <button type="submit" value="Save" name="SubmitButton" class="btn btn-default btn-lg">
                Finish <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

            <button type="submit" value="Skip" name="SubmitButton" class="btn btn-danger">
                Skip <span class="glyphicon glyphicon-random"></span>
            </button>
            <button type="submit" value="Enter another student" name="SubmitButton" class="btn btn-success btn-group-lg">
                <span class="glyphicon glyphicon-user"></span>
            </button>

        </div>
    }
</div>


