﻿
@{
    ViewBag.Title = "Student Empty Image Filter";
    Layout = Session["LayoutMgr"].ToString();
}
<div class="panel panel-info">
    <div class="panel panel-heading">
        <h3>Student Empty Image Finder</h3>
        @{
            using (Ajax.BeginForm("EmptyImageCalculation", new AjaxOptions()
            {
                UpdateTargetId = "emptySpicList",
                LoadingElementId = "loadingEleForEmptyPic"

            }))
            {
                <blockquote style="border-color: slategray">
                    <p>@Html.DropDownList("departmentId", (SelectList)ViewBag.departmentId, new { @class = "form-control" })</p>
                    <p>
                        <button type="submit" class="btn btn-default"><i class="fa fa-magnet"></i> Load</button>
                    </p>
                    <div id="loadingEleForEmptyPic" style="display: none; color: brown">
                        <label>Loading ...</label>
                    </div>
                </blockquote>
            }
        }

   </div>
    <div class="panel panel-body">

        <div id="emptySpicList"></div>
    </div>
    <div class="panel panel-footer">
        *Note
        <p> "<label style="color: crimson">[EPT : 002] L.L.B</label>" Means in  there are 2 students L.L.B program, whose profile has no image.</p>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
}
