﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentAcademicInfo

@{
    ViewBag.Title = "Create";
    Layout = Session["LayoutMgr"].ToString();
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>StudentAcademicInfo</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentId)
                @Html.ValidationMessageFor(model => model.StudentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NameOfExamination, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameOfExamination)
                @Html.ValidationMessageFor(model => model.NameOfExamination)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartingSession, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingSession)
                @Html.ValidationMessageFor(model => model.StartingSession)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UniversityBoard, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UniversityBoard)
                @Html.ValidationMessageFor(model => model.UniversityBoard)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassingYear, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassingYear)
                @Html.ValidationMessageFor(model => model.PassingYear)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Result, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Result)
                @Html.ValidationMessageFor(model => model.Result)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Group, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Group)
                @Html.ValidationMessageFor(model => model.Group)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
