﻿@using PagedList.Mvc
@model PagedList.IPagedList<UMS_MVC.DataModel.Models.Essential_Types.Payment>
<div style="font-size: 9px;overflow: auto">
    <table class="table" >
        <tr>
            <th>
                Payment Slip No
            </th>
            <th>
               Payment Type
            </th>
            <th>
               Registration No
            </th>
            <th>
                Print Date
            </th>
            <th>
               Printed By
            </th>
            <th>
                Subject 
            </th>
            <th>
                Admission Fee
            </th>
            <th>
                Tution Fee
            </th>
            <th>
                Lab Thesis Fee)
            </th>
            <th>
                Other Fee
            </th>
            <th>
                ReRegi Fee 
            </th>
            <th>
                Late Fee
            </th>
            <th>
               Total
            </th>
            <th>
                Rebate
            </th>
            <th>
              Previous Balance
            </th>
            <th>
                Net Total
            </th>
            <th>
                Amount Will Pay
            </th>
            <th>
                Amount Paid
            </th>
            <th>
              Balance
            </th>
            <th>
               Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrintDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrintedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdmissionFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TutionFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabThesisFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OtherFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReRegiFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LateFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rebate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreviousBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountWillPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountPaid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <b>  @Html.ActionLink("Edit", "EditPayement", new { id = item.PaymentId })</b>
                </td>
            </tr>
        }

    </table>
</div>

<div>
    <div class="form-inline">
        <div class="form-group">
            @Html.PagedListPager(Model, page => Url.Action("IndexPayment",
                new { page }))
        </div>
        <div class="form-group">
            Page <label style="color: deepskyblue">@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</label> of @Model.PageCount
        </div>

    </div>
</div>