﻿@model IQueryable<UMS_MVC.DataModel.Models.Essential_Types.CourseForStudentsAcademic>

<table  class="table table-responsive">
    <tr style="background-color: #008080; color: white">
        <th>#</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Credit</th>
        
    </tr>
    @{
        if (Model != null)
        {
            int x = 1;
            foreach (var item in Model)
            {
                <tr>
                    <td>@x</td>
                    <td>@item.CourseForDepartment.CourseCode</td>
                    <td>@item.CourseForDepartment.CourseName</td>
                    <td>@item.CourseForDepartment.Credit</td>
                    
                </tr>
                x++;
            }
            x = x - 1;
            <tr style="color: #008080">
                
                <td></td>
                <td style="font-weight: bold">Courses Enrolled : @x</td>
                <td style="font-weight: bold">Total Credits Taken : @ViewBag.TotalCredits</td>
                <td></td>
            </tr>
        }
        else
        {
             <tr><td><label class="form-group">No Result.</label></td></tr>
  
        }
    }
   
</table>
