﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@model List<UMS_MVC.DataModel.Models.Essential_Types.CourseForDepartment>
@{
    var deptObj = ViewBag.deptObj as Department;
    var accessType = (bool)ViewBag.Role;
}

<div class="breadcrumb" style="background: darkcyan;color: white">
    <h4>School &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;- @deptObj.ASchool.SchoolName</h4>
    <h4>Department  &nbsp;- @deptObj.DepartmentName</h4>
    
</div>
<h5 style="color: darkcyan"><b><u>List of Courses</u></b> </h5>
<div style="font-size: 13px;font-weight: bold;overflow: auto">
    <div align="right">
        <label> Total Credits : <b>@ViewBag.TotalCredit</b> </label>
    </div>
    @{
        foreach (var item2 in Model.OrderBy(a => a.SerializedSemesterId).Select(a => a.SerializedSemester.SemesterName).Distinct())
        {
            var x = 0.0;
            <label style="color: darkcyan">@item2</label>
            <table class="table table-bordered" width="100">
                <tr>
                    <th width="15%">
                       Course Code
                    </th>
                    <th width="40%">
                      Course Title
                    </th>
                    <th width="15%">
                        PreReq.
                    </th>
                    <th>
                      Credit
                    </th>
                    @{
                        if (accessType)
                        {
                            <th></th>
                            <th></th>
                        }

                    }
                </tr>

                @foreach (var item in Model.Where(s => s.SerializedSemester.SemesterName.Equals(item2)))
                {
                    if (item.Deactivate)
                    {
                        x = x + 0;
                        <tr style="text-decoration: line-through; color: black">
                            <td style="color: tomato">
                                @Html.DisplayFor(modelItem => item.CourseCode)
                            </td>
                            <td style="color: tomato">
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td style="color: tomato">
                                @Html.DisplayFor(modelItem => item.PrerequisiteCourse)
                            </td>
                            <td style="color: tomato">
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            @{
                                if (accessType)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourseType)
                                    </td>
                                }

                            }

                            @{
                                if (accessType)
                                {
                                    <td>
                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#courseControlModal" class="btn btn-warning btn-sm" onclick="loadCourseModal('@item.CourseForDepartmentId')"><span class="glyphicon glyphicon-wrench"></span></button>
                                             @Html.ActionLink("Delete", "Delete", new {id = item.CourseForDepartmentId})
                                        </div>
                                    </td>
                                }
                            }


                        </tr>
                    }
                    else
                    {
                        x = x + item.Credit;
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrerequisiteCourse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credit)
                            </td>
                            @{
                                if (accessType)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CourseType)
                                    </td>
                                }

                            }
                            @{
                                if (accessType)
                                {
                                    <td>
                                        <div>
                                            <button type="button" data-toggle="modal" data-target="#courseControlModal" class="btn btn-warning btn-sm" onclick="loadCourseModal('@item.CourseForDepartmentId')"><span class="glyphicon glyphicon-wrench"></span></button> |
                                           @Html.ActionLink("Delete", "Delete", new {id = item.CourseForDepartmentId})
                                        </div>
                                    </td>
                                }
                            }
                        </tr>
                    }
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td align="right"><b>Total Credits :</b></td>
                    <td><b>@x</b></td>
                    @{
                        if (accessType)
                        {
                            <td></td>
                            <td></td>
                        }
                    }
                </tr>

            </table>
        }
    }
   </div>

<div>
  *All the Elective, Optional, Major/Minor marked as<b style="color: darkcyan"> Semester 0</b> 
</div>