﻿
@{
    ViewBag.Title = "Activity Log";
    Layout = "~/Views/Shared/_LayoutSystemSupport.cshtml";
}

<h2>Activity Log View</h2>

<button class="btn btn-primary" onclick="loadActivity()"><i class="fa fa-search"></i> Load Activity</button>
<hr />
<div id="loadAdminActions"></div>


@section scripts
{
    <script type="text/javascript">
        function loadActivity() {
        var url = '..//Admin/ActivityLogView';
        $('#loadAdminActions').load(url);
        }
    </script>

}




