﻿

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 style="color: #dd0049" class="modal-title" id="myModalLabel">Activate Specific Semester for Course Advising</h3>
</div>
<div class="modal-body">
    <h5>@ViewBag.Heading</h5>
   @using (Html.BeginForm("ActivateSpecificSemesterAdvising", "Admin", FormMethod.Post, new { id = "activateAdvising" }))
   {
        @Html.AntiForgeryToken()

        <div class="form-group ">
            <div class="form-group">
                <b style="font-size: 15px; color: darkcyan">Semester </b>@Html.DropDownList("semesterId", (SelectList)ViewBag.SemesterId, "--Choose--", new { @class = "form-control ", Style = "width: 200px" })
            </div>
        </div>
        <input type="submit" value="Update" class="btn btn-Custom5" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    }
</div>

<div align="center" style="color: green" >
    <label id="result"></label>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/app/formSubmitJson.js"></script>
