﻿@model HandleErrorInfo
@{
    ViewBag.Title = "ErrorPage";
    Layout = Session["LayoutMgr"].ToString();
}


@{
    if (TempData["GradeUploadStatus"] != null)
    {
        <div align="center">
            <h2 class="text-success"><span class="glyphicon glyphicon-exclamation-sign"></span> Sorry</h2>
            <h3 class="text-success">@TempData["GradeUploadStatus"]</h3>
        </div>
    }
    else
    {
        <div align="center">
            <h2 class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span> Error...</h2>
            <h3 class="text-danger">An error occurred while processing your request.</h3>
        </div>

    }
}
