﻿@using UMS_MVC.ApiService.Security
@using UMS_MVC.DataModel.Models.Essential_Types
@{
    ViewBag.Title = "Advanced Master";
    Layout = Session["LayoutMgr"].ToString();

    var userobj = Session["UserObj"] as Account;
}
<link href="~/Content/Material Angular/angular-material.min.css" rel="stylesheet" />
<link href="~/Content/OtherStyle/ButtonStyleEX.css" rel="stylesheet" />
<link href="~/Content/OtherStyle/PostOnlieAdmissionStyle.css" rel="stylesheet" />
<link href="~/Content/Jsny-Bootstrap/jasny-bootstrap.min.css" rel="stylesheet" />

<div ng-app="umspInitial">
    <br />
    <br />
    @* <P style="color: #008080; font-size: 20px; text-decoration: underline; font-weight: bold">
            <span class="glyphicon glyphicon-star"></span> Categories
        </P>*@
    <div class="breadcrumb" ng-controller="menuController" ng-init="setAccount('@userobj.AccountId', '@userobj.Name', '@userobj.AccountsRoleId','@userobj.LoginIdentity')">
        @{
            if (ViewBag.msg == true)
            {
                <div class="btn-group btn-breadcrumb">
                    <a href="#/master" class="btn btn-default">Master</a>
                    <a href="#/semester" class="btn btn-default">Semester</a>
                    <a href="#/notice" class="btn btn-default">Notices</a>
                    <a href="#/evalIndex" class="btn btn-default">Evaluation Index</a>
                    <a href="#/evalResult" class="btn btn-default">Evaluation Report</a>
                    <a href="#" class="btn btn-default">Probation</a>
                    <a href="#/courseMaster" class="btn btn-default"><i class="fa fa-list-ol"></i> Course Master</a>
                    <a href="#/university" class="btn btn-default">University</a>
                    <a href="#" class="btn btn-default">Student Groups</a>
                    <a href="#" class="btn btn-default">Pre-UMS Student</a>
                    <a href="#/scrutinyAdm" class="btn btn-default">Scrutinization</a>
                    <a href="#/postOnlineAdmIndex" class="btn btn-default">Online Adm Index</a>
                    <a href="#/postOnlineAdmEntry/0" class="btn btn-default">Online Adm Entry</a>
                    <a href="#/studentIdentity" class="btn btn-default">Updated Admission</a>
                    <a href="#/studentIndex" class="btn btn-default">Student Index</a>
                    <a href="#/advisingIndex/0" class="btn btn-default">Course Advising</a>

                </div>
            }
            else if (ViewBag.msg == false)
            {
                <div class="btn-group btn-breadcrumb">
                    <a href="#/studentIndex" class="btn btn-default">Student Index</a>
                    <a href="#/postOnlineAdmIndex" class="btn btn-default">Online Admission Index</a>
                    <a href="#/studentIdentity" class="btn btn-default">Updated Admission</a>

                </div>
            }
        }
    </div>
    <div @Html.RequestVerificationToken()>
        <div style="height: 5px"><md-progress-linear md-mode="indeterminate" md-diameter="15" data-loading></md-progress-linear></div>
        <div ng-view></div>
    </div>
</div>



@section scripts
{
    <!----Vendor Party---->
    <script src="~/Scripts/Vendor/Angular/angular.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-animate.min.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-aria.min.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-messages.min.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-route.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-resource.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-filter.min.js"></script>
    <script src="~/Scripts/Vendor/Angular/angular-sanitize.js"></script>
    <script src="~/Scripts/angularApp/app.config.js"></script>
    <!-----Third Party------>
    <script src="~/Scripts/Vendor/Google Chart/ng-google-chart.min.js"></script>
    <script src="~/Scripts/Vendor/Matrial Angular/angular-material.min.js"></script>
    <script src="~/Content/Jsny-Bootstrap/jasny-bootstrap.min.js"></script>
    <script src="~/Scripts/Vendor/UI Angular/ui-bootstrap-tpls-2.1.4.min.js"></script>
    <script src="~/Scripts/Vendor/Other/authInterceptorService.js"></script>
    <script src="~/Scripts/Vendor/Other/angular-local-storage.min.js"></script>
    <!----Application---->
    <!--Directives-->
    <script src="~/Scripts/angularApp/directives/fileModel.directive.js"></script>
    <script src="~/Scripts/angularApp/directives/enterKey.directive.js"></script>
    <script src="~/Scripts/angularApp/directives/loadingAnimation.directive.js"></script>
    <!----Services---->
    <script src="~/Scripts/angularApp/services/rebateCategory.service.js"></script>
    <script src="~/scripts/angularapp/services/department.service.js"></script>
    <script src="~/scripts/angularapp/services/evaluationresult.service.js"></script>
    <script src="~/scripts/angularapp/services/faculty.service.js"></script>
    <script src="~/scripts/angularapp/services/section.service.js"></script>
    <script src="~/scripts/angularapp/services/semester.service.js"></script>
    <script src="~/Scripts/angularApp/services/scrutiny.service.js"></script>
    <script src="~/Scripts/angularApp/services/courseadvising.sevice.js"></script>
    <script src="~/Scripts/angularApp/services/courseservice.js"></script>
    <script src="~/Scripts/angularApp/services/university.service.js"></script>
    <script src="~/Scripts/angularApp/services/masterAdm.service.js"></script>
    <script src="~/Scripts/angularApp/services/postOnlineAdm.service.js"></script>
    <script src="~/Scripts/angularApp/services/umsAdmissionService.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/academicInfo.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/personalInfo.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/studentIdentity.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/submittedDocuments.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/uploadImage.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/jobExperience.service.js"></script>
    <script src="~/Scripts/angularApp/services/admissionServices/studentRebate.service.js"></script>
    <script src="~/Scripts/angularApp/services/onlineStudentsUmsInsertion.service.js"></script>
    <script src="~/Scripts/angularApp/services/umsStudent.service.js"></script>
    <script src="~/Scripts/angularApp/services/studentCourse.Services.js"></script>
    <!----Controllers---->
    <script src="~/Scripts/angularApp/controllers/menus.ctrl.js"></script>
    <script src="~/scripts/angularapp/controllers/evaresult.ctrl.js"></script>
    <script src="~/scripts/angularapp/controllers/noticecategory.ctrl.js"></script>
    <script src="~/scripts/angularapp/controllers/noticedetail.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/evalindex.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/scrutIndex.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/universityIndex.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/postOnlineAdmission/postOnlineAdmEntry.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/postOnlineAdmission/postOnlineAdmIndex.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/masterAdm.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/postOnlineAdmission.ctrl.js"></script>

    <script src="~/Scripts/angularApp/controllers/admissionControllers/academicInfo.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/personalInfo.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/studentIdentity.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/submittedDocument.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/uploadImage.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/jobExperience.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/admissionControllers/studentRebate.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/UmsStudent/umsStudentIndex.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/semester.ctrl.js"></script>
    <script src="~/Scripts/angularApp/controllers/CourseManage/courseMaster.ctrl.js"></script>


}
<style>
    .btn-default {
        color: #333 !important;
        background-color: #fff;
        border-color: #ccc;
    }
</style>