﻿
@using UMS_MVC.DataModel.Models.Essential_Types
@model UMS_MVC.DataModel.Models.Essential_Types.StudentIdentification

@{
    ViewBag.Title = "Alter Student Information";
    
    var studentInfo =new StudentInfo();
    bool studentInfoExist=false;
    if (ViewBag.email != null)
    {
        studentInfo = (StudentInfo)ViewBag.email;
        studentInfoExist = true;
        if (string.IsNullOrEmpty(studentInfo.EmailAddress))
        {
            studentInfo.EmailAddress = "";
        }
    }
    else
    {
        studentInfo.EmailAddress = "";
    }
  }

<div>
    <h4 style="text-decoration: underline">Existing Information</h4>
    
    <table class="table table-condensed">
        <tr>
            <td>
                @{
                    if (string.IsNullOrEmpty(Model.StudentPicture))
                    {
                        <img src="~/Image/nopic.jpg" style="height: 156px; width: 120px" />
                    }
                    else
                    {
                        <img src="~/Image/@Model.StudentPicture" style="height: 156px; width: 120px"/>
                        <br/>
                        <label>Student Pic</label>

                    }
                }
            </td>
            <td>
                <table class="table table-bordered">
                    <tr>
                        <td class="text-right">Student ID</td>
                        <td><strong>@Model.StudentId</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Password</td>
                        <td><strong>@Model.Password</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Student Info exists</td>
                        <td><strong>@studentInfoExist</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Email Address </td>
                        <td><strong>@studentInfo.EmailAddress</strong></td>
                    </tr>
                    <tr>
                        <td class="text-right">Blocked</td>
                        <td><strong>@Model.BlockStudent</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-7">
            <div class="well">
                <h4 style="text-decoration: underline">Update Information</h4>
                @using (Ajax.BeginForm("AddPassword", "DepartmentChange", FormMethod.Post, new AjaxOptions
                {
                    UpdateTargetId = "msgFromServer",
                    InsertionMode = InsertionMode.Replace
                }))
                {
                    @Html.HiddenFor(model => model.StudentIdentificationId)
                    <p>New Password @Html.TextBoxFor(model => model.Password, new {@class = "form-control"})</p>
                    <p>
                        New Email <input class="form-control" type="text" id="email" name="email" placeholder="enter email" value="@studentInfo.EmailAddress"/>
                    </p>
                    <p>Block Student @Html.EditorFor(model => model.BlockStudent)</p>
                    <p>Block Reason @Html.TextBoxFor(model => model.BlockReason, new {@class = "form-control"})</p>
                    <p>Block Expire Date @Html.TextBoxFor(m => m.BlockExpireDate, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control" })</p>
                    <p>ValiDation @Html.EditorFor(model => model.Validation)</p>
                    
                    <input class="btn btn-primary" type="submit" value="Update"/>
                }
            </div>
        </div>
        <div class="col-md-5">
            <div class="well">
                <h4 style="text-decoration: underline">Password Generator</h4>
                <button class="btn btn-primary btn-sm" onclick="loadPassword()">Generate Password</button>
                <br/>
                <h5>New password : <label style="color: #337ab7" id="newPassLbl"></label></h5>
            </div>
        </div>
    </div>
 </div>

<div>
    <h4 style="color: #337ab7" id="msgFromServer"></h4>
</div>
