﻿
<div class="row">
    <div class="col-md-4">
        <div align="left">
            <h2 style="color: darkslateblue;font-weight: bold"><i class="fa fa-institution"></i> Admission</h2>
        </div>
        <div>
            <blockquote class="blockStyle">
                <p style="color: #0754ab; font-weight: bold; font-size: 14px">
                    <i class="fa fa-gears"></i> Options
                </p>
                <div class="btn-group-vertical" role="group">
                    <a class="btn btn-default" href="#/studentIdentity">
                        <i class="fa fa-star" style="color: darkslateblue"></i> Student Identity
                    </a>
                    <a class="btn btn-default" href="#/personalInfo">
                        <i class="fa fa-exclamation-circle" style="color: darkslateblue"></i> Personal Info
                    </a>
                    <a class="btn btn-default" href="#/academicInfo">
                        <i class="fa fa-edit" style="color: darkslateblue"></i>  Academic Info
                    </a>
                    <a class="btn btn-default" href="#/submittedDocument">
                        <i class="fa fa-file-text-o" style="color: darkslateblue"></i>  Attacthed Documents
                    </a>
                    <a class="btn btn-default" href="#/uploadImage">
                        <i class="fa fa-upload" style="color: darkslateblue"></i>  Upload Image
                    </a>
                    <a class="btn btn-default" href="#/jobExperience">
                        <i class="fa fa-briefcase" style="color: darkslateblue"></i>  Job Experience
                    </a>
                    <a class="btn btn-default" href="#/studentRebate">
                        <i class="fa fa-graduation-cap" style="color: darkslateblue"></i>  Student Rebate
                    </a>
                </div>
            </blockquote>
            <blockquote class="blockStyle">
                <p style="color: #0754ab; font-weight: bold;font-size: 14px">Selected Student</p>

                <table class="table table-borderless">
                    <tr>
                        <td>Token #</td>
                        <td style="font-size: 13px"><span class="label label-success">{{displayGuidId}}</span></td>
                    </tr>
                    <tr>
                        <td>Identity #</td>
                        <td><span class="label label-primary">{{displayIdentity}}</span></td>
                    </tr>

                    <tr>
                        <td> Student ID </td>
                        <td><span class="label label-primary">{{displayId}}</span> </td>
                    </tr>
                    <tr>
                        <td><button  class="btn btn-default"  ng-click="unlock()">Unload Student</button></td>
                        <td></td>
                    </tr>
                </table>

            </blockquote>
        </div>
    </div>
    <div class="col-md-8">

        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: darkslateblue;color: white">
                <h4> Please upload your recent passport size photo</h4>
            </div>
            <div class="panel-body">
                <div align="center">
                    <form>
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 200px;">
                                <img ng-src="{{image_source}}" alt="...">
                            </div>
                            <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span>
                                    <input type="file" file-model="myFile">
                                </span>
                                <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><span style="color: indianred" class="fa fa-trash-o"></span> Remove</a>
                                <br />
                                <br />
                                <button ng-click="uploadFile()" class="btn btn-default fileinput-exists" >Upload <i class="fa fa-upload"></i></button>

                                <label style="color: #0754ab">{{msgFromServ}}</label>
                            </div>
                        </div>
                    </form>
                    <br />

                </div>
            </div>
            <div class="panel-footer">
                <div style="font-size: 12px">
                    <p style="color: indianred">**Important</p>
                    <ol>
                        <li>Image must be in JPEG format</li>
                        <li>Image height must be less than 450px & width must be less than 350px</li>
                    </ol>
                </div>
            </div>
        </div>



    </div>
</div>



