﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentIdentification

@{
    ViewBag.Title = "Create";
    Layout = Session["LayoutMgr"].ToString();
}

<span style="font-size: 14px" class="glyphicon glyphicon-folder-open"></span> <label style="color: black;text-decoration: underline"> Generate New </label>&nbsp;&nbsp;//&nbsp;&nbsp;<span style="font-size: 16px" class="glyphicon glyphicon-folder-close"></span> @Html.ActionLink("Enter Old/Existing Student ID", "CreateOldStudent", null, new { style = "color: #01a6a0;font-weight: bold" })
<div align="center"> <h2 style="color: #01a6a0">Generate New Student ID</h2></div>
<hr class="dividerStyle"/>
<div class="row" style="font-size: 16px">
    <div class="col-md-1"></div>
    <div class=" col-md-5" style="color: #01a6a0">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">              
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label class="control-label col-md-4">Department </label>
                    <div class="col-md-4">
                        @Html.DropDownList("departmentId", (SelectList)ViewBag.DepartmentId, "--Choose--", new { @class = "form-control ", Style = "width: 240px" })
                        @Html.ValidationMessageFor(model => model.DepartmentId)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Semester</label>
                    <div class="col-md-4">
                        @Html.DropDownList("SemesterId", null, new { @class = "form-control ", Style = "width: 200px" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CreditTransfer, new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.CreditTransfer)
                        @Html.ValidationMessageFor(model => model.CreditTransfer)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.DiplomaStudent, new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.DiplomaStudent)
                        @Html.ValidationMessageFor(model => model.DiplomaStudent)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4"  data-toggle="popover"  title="What is Remark !!" data-content="If any other short Information? Add some." data-placement="bottom">Remark</label>
                   
                    <div class="col-md-4">
                        @Html.TextBoxFor(model => model.Remark, new { @class = "form-control", Style = "width: 200px" })
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-4">
                        <button type="submit" value="CreateId" name="SubmitButton" class="btn btn-Custom7 btn-lg" onclick="loadAdmittedStudentInfo">
                            Generate <span class="glyphicon glyphicon-user"></span>
                        </button>

                    </div>
                </div>
               

            </div>
        }
    </div>
    <div class="col-md-6"  >
        @Html.Partial("_AdmittedStudentInfoPartial")
    </div>
</div>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">


    function OpenRemarkMsg() {
        
    }

    
    $(function() {
        $('[data-toggle="popover"]').popover();
    });

    function loadAdmittedStudentInfo() {
        $('#admittedStudentInfo').hide('slow', function () {

        });
        $('#admittedStudentInfo').toggle('slow', function () {

        });
    }
  
    </script>
   
}
<style>
    .dividerStyle {
        border-color: #01a6a0;
    } 
     
</style>