﻿@model UMS_MVC.DataModel.Models.Essential_Types.StudentIdentification

@{
    ViewBag.Title = "Details";
    Layout = Session["LayoutMgr"].ToString();
}

<h3 style="color: deepskyblue">Details of Student Id</h3>

<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SemesterInfo.SemesterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SemesterInfo.SemesterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentIdentificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
